<thead>
    <tr>
        <th hidden="">Match Id</th>
        <th class="view-mobile" colspan="2"></th>
        <th class="text-center">1</th>
        <th class="text-center">X</th>
        <th class="text-center">2</th>
        <th *ngIf="multiMarketPin"></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let tableColumn of tableRowList">
        <td hidden="">1</td>
        <td>
            <a class="match-name" [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]"><span>{{tableColumn.eventName.split("/")[0]}}</span></a>
            <span *ngIf="tableColumn.inPlay=='True'" class="in_play">In-Play</span>
            <!-- <span *ngIf="tableColumn.tv == 'True'" class="in_play"><i class="fa fa-television"></i></span> -->
            <!-- <p *ngIf="tableColumn.inPlay !='True'" class="match-time">{{tableColumn.eventName.slice(tableColumn.eventName.indexOf("/")+1)}} | {{ tableColumn.eventDate | date : 'medium' }} </p> -->
            <p *ngIf="tableColumn.inPlay !='True'" class="match-time">{{ tableColumn.eventDate | date : 'medium' }} </p>
        </td>
        <td><span class="game-fancy mr-1" *ngIf="tableColumn.f=='True'">F</span></td>
        <td class="count">
            <span class="back">{{tableColumn.back11}}</span>
            <span class="lay">{{tableColumn.lay11}}</span>
        </td>
        <td class="count">
            <span class="back">{{tableColumn.back1}}</span>
            <span class="lay">{{tableColumn.lay1}}</span>
        </td>
        <td class="count">
            <span class="back">{{tableColumn.back12}}</span>
            <span class="lay">{{tableColumn.lay12}}</span>
        </td>
        <td class="pl-0 pr-2 mr-lg-0">
            <a style="cursor: pointer" title="Add to Multi Markets"
                class="add-pin" [ngClass]="{'pin-on': tableColumn.isPinnedMatch == true }" (click)="setPinData(tableColumn.marketId, !tableColumn.isPinnedMatch)" *ngIf="multiMarketPin==true">Pin</a>
        </td>
    </tr>
</tbody>
