<div class="tab-wrap">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active">
        <li [ngbNavItem]="1">
            <a ngbNavLink>In-Play</a>
            <ng-template ngbNavContent>
                <ng-container *ngIf="inplayData">
                    <div *ngFor="let inplayList of inplayData">
                        <ng-container *ngIf="inplayList.oddsData.length > 0">
                            <h3>{{inplayList.sportName}}</h3>
                            <app-sports-data [tableRowList]="inplayList.oddsData"
                                [multiMarketPin]="false"></app-sports-data>
                        </ng-container>
                    </div>
                    <div class="sport_list-wrap" *ngIf="inplayData.length === 0">
                        <div class="no-data">
                            <p>There are no events to be displayed.</p>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Today</a>
            <ng-template ngbNavContent>
                <ng-container *ngIf="todayData">
                    <div *ngFor="let todayList of todayData">
                        <ng-container *ngIf="todayList.oddsData.length > 0">
                            <h3>{{todayList.sportName}}</h3>
                            <app-sports-data [tableRowList]="todayList.oddsData" [multiMarketPin]="false"></app-sports-data>
                        </ng-container>
                    </div>
                    <div class="sport_list-wrap" *ngIf="todayData.length === 0">
                        <div class="no-data">
                            <p>There are no events to be displayed.</p>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Tomorrow</a>
            <ng-template ngbNavContent>
                <ng-container *ngIf="tomorrowData">
                    <div *ngFor="let tomorrowList of tomorrowData">
                        <ng-container *ngIf="tomorrowList.oddsData.length > 0">
                            <h3>{{tomorrowList.sportName}}</h3>
                            <app-sports-data [tableRowList]="tomorrowList.oddsData"
                                [multiMarketPin]="false"></app-sports-data>
                        </ng-container>
                    </div>
                    <div class="sport_list-wrap" *ngIf="tomorrowData.length === 0">
                        <div class="no-data">
                            <p>There are no events to be displayed.</p>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </li>
    </ul>
</div>

<div class="wrap-highlight_list">
    <div [ngbNavOutlet]="nav"></div>
</div>