
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/Veelki.Admin.AssemblyInfo.cs
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/Veelki.Admin.AssemblyInfoInputs.cache
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/Veelki.Admin.assets.cache
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/Veelki.Admin.csproj.AssemblyReference.cache
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/Veelki.Admin.GeneratedMSBuildEditorConfig.editorconfig
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/Veelki.Admin.RazorAssemblyInfo.cache
Veelki.Admin/Veelki.Admin/obj/Debug/netcoreapp3.1/Veelki.Admin.RazorAssemblyInfo.cs
Veelki.Admin/Veelki.Admin/obj/project.assets.json
Veelki.Admin/Veelki.Admin/obj/project.nuget.cache
Veelki.Admin/Veelki.Admin/obj/Veelki.Admin.csproj.nuget.dgspec.json
Veelki.Admin/Veelki.Admin/obj/Veelki.Admin.csproj.nuget.g.props
Veelki.Admin/Veelki.Admin/obj/Veelki.Admin.csproj.nuget.g.targets
Veelki.Admin/Veelki.Api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Veelki.Admin/Veelki.Api/obj/Debug/netcoreapp3.1/Veelki.Api.AssemblyInfo.cs
Veelki.Admin/Veelki.Api/obj/Debug/netcoreapp3.1/Veelki.Api.AssemblyInfoInputs.cache
Veelki.Admin/Veelki.Api/obj/Debug/netcoreapp3.1/Veelki.Api.assets.cache
Veelki.Admin/Veelki.Api/obj/Debug/netcoreapp3.1/Veelki.Api.csproj.AssemblyReference.cache
Veelki.Admin/Veelki.Api/obj/Debug/netcoreapp3.1/Veelki.Api.GeneratedMSBuildEditorConfig.editorconfig
Veelki.Admin/Veelki.Api/obj/project.assets.json
Veelki.Admin/Veelki.Api/obj/project.nuget.cache
Veelki.Admin/Veelki.Api/obj/Veelki.Api.csproj.nuget.dgspec.json
Veelki.Admin/Veelki.Api/obj/Veelki.Api.csproj.nuget.g.props
Veelki.Admin/Veelki.Api/obj/Veelki.Api.csproj.nuget.g.targets
Veelki.Admin/Veelki.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Veelki.Admin/Veelki.Core/obj/Debug/netcoreapp3.1/Veelki.Core.AssemblyInfo.cs
Veelki.Admin/Veelki.Core/obj/Debug/netcoreapp3.1/Veelki.Core.AssemblyInfoInputs.cache
Veelki.Admin/Veelki.Core/obj/Debug/netcoreapp3.1/Veelki.Core.assets.cache
Veelki.Admin/Veelki.Core/obj/Debug/netcoreapp3.1/Veelki.Core.csproj.AssemblyReference.cache
Veelki.Admin/Veelki.Core/obj/Debug/netcoreapp3.1/Veelki.Core.GeneratedMSBuildEditorConfig.editorconfig
Veelki.Admin/Veelki.Core/obj/project.assets.json
Veelki.Admin/Veelki.Core/obj/project.nuget.cache
Veelki.Admin/Veelki.Core/obj/Veelki.Core.csproj.nuget.dgspec.json
Veelki.Admin/Veelki.Core/obj/Veelki.Core.csproj.nuget.g.props
Veelki.Admin/Veelki.Core/obj/Veelki.Core.csproj.nuget.g.targets
Veelki.Admin/Veelki.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Veelki.Admin/Veelki.Data/obj/Debug/netcoreapp3.1/Veelki.Data.AssemblyInfo.cs
Veelki.Admin/Veelki.Data/obj/Debug/netcoreapp3.1/Veelki.Data.AssemblyInfoInputs.cache
Veelki.Admin/Veelki.Data/obj/Debug/netcoreapp3.1/Veelki.Data.assets.cache
Veelki.Admin/Veelki.Data/obj/Debug/netcoreapp3.1/Veelki.Data.csproj.AssemblyReference.cache
Veelki.Admin/Veelki.Data/obj/Debug/netcoreapp3.1/Veelki.Data.GeneratedMSBuildEditorConfig.editorconfig
Veelki.Admin/Veelki.Data/obj/project.assets.json
Veelki.Admin/Veelki.Data/obj/project.nuget.cache
Veelki.Admin/Veelki.Data/obj/Veelki.Data.csproj.nuget.dgspec.json
Veelki.Admin/Veelki.Data/obj/Veelki.Data.csproj.nuget.g.props
Veelki.Admin/Veelki.Data/obj/Veelki.Data.csproj.nuget.g.targets
Veelki.Admin/Veelki.Model/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Veelki.Admin/Veelki.Model/obj/Debug/netcoreapp3.1/Veelki.Model.AssemblyInfo.cs
Veelki.Admin/Veelki.Model/obj/Debug/netcoreapp3.1/Veelki.Model.AssemblyInfoInputs.cache
Veelki.Admin/Veelki.Model/obj/Debug/netcoreapp3.1/Veelki.Model.assets.cache
Veelki.Admin/Veelki.Model/obj/Debug/netcoreapp3.1/Veelki.Model.GeneratedMSBuildEditorConfig.editorconfig
Veelki.Admin/Veelki.Model/obj/project.assets.json
Veelki.Admin/Veelki.Model/obj/project.nuget.cache
Veelki.Admin/Veelki.Model/obj/Veelki.Model.csproj.nuget.dgspec.json
Veelki.Admin/Veelki.Model/obj/Veelki.Model.csproj.nuget.g.props
Veelki.Admin/Veelki.Model/obj/Veelki.Model.csproj.nuget.g.targets
Veelki.Admin/.vs/Veelki.Admin/v16/.suo
Veelki.Admin/Veelki.Model/obj/Debug/netcoreapp3.1/Veelki.Model.csproj.AssemblyReference.cache
