<div class="main-bg">
    <header class="login-head">
        <a routerLink="/home" class="close ui-link"></a>
        <h1>Veelki</h1>
        <div class="betfair-wrap">
            <p>Powered by</p>
        </div>
    </header>
    <form [formGroup]="loginForm" method="post" role="form" (ngSubmit)="loginFormSubmit()">
        <dl class="form-login">
            <dd [ngClass]="{'error':isSubmitted && loginForm.controls['email'].errors?.['required']}">
                <input type="email" placeholder="Username" formControlName="email">
            </dd>
            <dd [ngClass]="{'error':isSubmitted && loginForm.controls['password'].errors?.['required']}">
                <input type="password" placeholder="Password" formControlName="password">
            </dd>
            <dd id="validCodeErrorClass" style="display: block">
                <input formControlName="codeValidator" type="number" placeholder="Validation" maxlength="4">
                <span
                    style="position: absolute; right: 5px; top: 20%; font-size: 16px;font-weight: bold; color:#000000">{{randomNumber}}</span>
            </dd>
            <dd>
                <button type="submit" class="btn-send ui-link">Login</button>
            </dd>
            <dd id="errorMsg" class="state" *ngIf="isSubmitted && formSubmitError != null">{{formSubmitError}}</dd>
        </dl>
    </form>
    <ul class="policy-link">
        <li><a class="ui-link">Privacy Policy</a></li>
        <li><a class="ui-link">Terms and Conditions</a></li>
        <li><a class="ui-link">Rules and Regulations</a></li>
        <li><a class="ui-link">KYC</a></li>
        <li><a class="ui-link">Responsible Gaming</a></li>
        <li><a class="ui-link">About Us</a></li>
        <li><a class="ui-link">Self-Exclusion Policy</a></li>
        <li><a class="ui-link">Underage Policy</a></li>
    </ul>
</div>