<div class="user-blnc d-inline-block align-middle"><span> Main <strong>IR {{openingBalance}}</strong></span><span
    class="exp-topcount">Exposure <a class="text-white"><strong>(<span
                class="exp-red">{{exposureBalance}}</span>)
        </strong></a></span></div>
<div class="d-inline-block align-bottom"><span class="head-refresh"><a id="menuRefresh" style="cursor: pointer" (click)="refreshBalance()">Refresh</a></span><a
    class="a-referesh" href="javascript:;" title="Setting" (click)="refreshBalance()"><img
        src="../../../assets/img/transparent.gif"></a>
</div>