<div class="col-center report">
    <div class="path-wrap"><h2 [align]="'center'" style="width: 100%;">Profit &amp; Loss</h2></div>
    <div class="white-wrap">
        <div class="function-wrap">
            <ul class="input-list">
                <li><h2>Period </h2></li>
                <li><input class="cal-input" type="text" placeholder="YYYY-MM-DD" ngbDatepicker
                        #dateTime="ngbDatepicker" [maxDate]="maxDate">
                    <input disabled="" class="time-input disable" type="text" placeholder="09:00">
                    to
                    <input class="cal-input" type="text" placeholder="YYYY-MM-DD" ngbDatepicker
                        #dateTime="ngbDatepicker" [maxDate]="maxDate">
                    <input disabled="" class="time-input disable" type="text" placeholder="08:59">
                </li>
            </ul>
            <ul class="input-list">
                <li><a class="btn">Just For Today </a></li>
                <li><a class="btn">From Yesterday </a></li>
                <li><a class="btn-send">Get P &amp; L </a></li>
            </ul>
        </div>
        <div *ngIf="!profitLossData">
            <p>Betting Profit &amp; Loss enables you to review the bets you have placed. <br>Specify the time
                periodduring which your bets were placed, the type of markets on which the bets were placed, and the
                sport.</p>
            <p>Betting Profit &amp; Loss is available online for the past 62 days.</p>
            <p>User can search up to 14 days records per query only .</p>
        </div>
    </div>
    <div *ngIf="profitLossData">
        <table class="table01 table-pnl">
            <tbody>
                <tr>
                    <th class="align-L">Market</th>
                    <th width="15%">Start Time</th>
                    <th width="15%">Settled date</th>
                    <th width="18%">Profit/Loss</th>
                </tr>
                <tr *ngFor="let profitLoss of profitLossData">
                    <td class="align-L">{{profitLoss.sportName}}<img class="fromto" src="assets/images/transparent.gif"><strong>{{profitLoss.event}}</strong><img class="fromto" src="assets/images/transparent.gif">{{profitLoss.market}}</td>
                    <td>2023-03-25 06:30:00</td>
                    <td>2023-03-25 12:45:14</td>
                    <td>
                        <a>{{profitLoss.resultAmount}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>