<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 all-sports">
            <h3 class="quickHeader" style="display: block;">Quick Links</h3>
            <ul class="quick_link" id="quickBoard" style="display: flex;">
                <li><a [routerLink]="['/inplay']" routerLinkActive="active"><img src="../../../assets/img/timer.svg">In-Play</a></li>
                <li><a [routerLink]="['/multimarket']" routerLinkActive="active"><img src="../../../assets/img/paper-push-pin.svg">Multi Markets</a></li>
                <li><a [routerLink]="['/allsport-highlight', 4]" routerLinkActive="active"><img src="../../../assets/img/cricket-ball.svg">Cricket</a></li>
                <li><a [routerLink]="['/allsport-highlight', 1]" routerLinkActive="active"><img src="../../../assets/img/soccer-ball.svg">Soccer</a></li>
                <li><a [routerLink]="['/allsport-highlight', 2]" routerLinkActive="active"><img src="../../../assets/img/tennis.svg">Tennis</a></li>
            </ul>
        
        </div>
    </div>
</div>