<div class="animated fadeIn">
    <ng-template #martketError>
        <div class="no-data">
            <h3>There are currently no followed multi markets.</h3>
            <p>Please add some markets from events.</p>
        </div>
    </ng-template>
    <div class="wrap-highlight_list" *ngIf="multiMarketData && multiMarketData.length > 0; else martketError">
        <h3>Multi Markets</h3>
        <app-sports-data [tableRowList]="multiMarketData" [multiMarketPin]="false"></app-sports-data>
    </div>
</div>