<div class="col-right">
    <div class="slip-wrap">
        <h3><a class="to-expand">Bet Slip </a></h3>
        <p *ngIf="!betData.sportId">Click on the odds to add selections to the betslip. </p>
        <div class="bet_slip" *ngIf="betData.sportId">
            <div class="slip-list">
                <ul class="slip-head">
                    <li class="col-bet" *ngIf="betData.type == 'back'">Back (Bet For)</li>
                    <li class="col-bet" *ngIf="betData.type == 'lay'">Lay (Bet Against)</li>
                    <li class="col-odd">Odds </li>
                    <li class="col-stake">Stake </li>
                    <li class="col-profit" *ngIf="betData.type == 'back'">Profit</li>
                    <li class="col-profit" *ngIf="betData.type == 'lay'">Liability</li>
                </ul>
                <div>
                    <h4><img class="icon-in_play" src="assets/images/transparent.gif">{{betData.event}}</h4>
                    <dl class="slip-{{betData.type}}">
                        <dt>
                            <a class="delete" (click)="deleteBet()">delete</a>
                            <span class="short-amount">{{betData.selection}}</span>
                            <span>{{betData.market}}</span>
                        </dt>
                        <dd class="col-odd">
                            <input type="number" step=".01" style="margin: 0;padding: 0;text-align: left;" maxlength="6"
                                [(ngModel)]="oddsRequest" (change)="setOddsPrice(oddsRequest)">
                        </dd>
                        <dd class="col-stake">
                            <input type="text" [(ngModel)]="amountStake" (change)="setStackPrice(amountStake)">
                        </dd>
                        <dd class="col-profit">{{ amountStake * oddsRequest - amountStake | number : '1.2-2'}}</dd>
                        <dd class="col-stake_list" style="display: block;">
                            <ul *ngIf="stackLimitList">
                                <li *ngFor="let stackLimit of stackLimitList" style="margin-bottom: 3px;">
                                    <a class="btn"
                                        (click)="setStackPrice(stackLimit.stakeLimitPrice)">{{stackLimit.stakeLimitPrice}}</a>
                                </li>
                            </ul>
                        </dd>
                        <dd class="keep-option">
                            <p class="dynamic-min-bet">Min Bet: <strong>10</strong></p>
                        </dd>
                    </dl>
                </div>
            </div>

            <div id="betSlipFullBtn" class="full_btn">
                <dl class="sum">
                    <dt>Liability </dt>
                    <dd>
                        <span class="red" *ngIf="betData.type == 'back'">{{amountStake | number : '1.2-2'}}</span>
                        <span class="red" *ngIf="betData.type == 'lay'">{{ amountStake * oddsRequest - amountStake |
                            number : '1.2-2'}}</span>
                    </dd>
                </dl>
                <ul class="btn-wrap">
                    <li><a class="btn" (click)="deleteBet()">Cancel</a></li>
                    <li><a class="btn-send" [ngClass]="{'disable':amountStake<1}" (click)="saveMatchOdds()">Place Bets
                        </a>
                    </li>
                </ul>
                <ul class="slip-option">
                    <li><input id="comfirmBets" type="checkbox"><label for="comfirmBets">Please confirm your bets.
                        </label></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="matched-wrap" *ngIf="isUserLogin">
        <h3>
            <a class="slip_refresh" (click)="getMarketData()">Refresh</a>
            <a class="to-expand">Open Bets</a>
        </h3>
        <div>
            <div class="slip-sort">
                <select class="desktop-bets" [(ngModel)]="selectBetId" (change)="getBetList()">
                    <option value="0">Select Market</option>
                    <option *ngFor="let market of marketList" [ngValue]="market.eventId">{{market.event}}</option>
                </select>
            </div>
            <ul class="slip-head" *ngIf="betListData.length > 0">
                <li class="col-bet"><strong>Matched</strong></li>
            </ul>
            <div class="slip-list" *ngIf="betListData.length > 0">
                <ng-container *ngFor="let betData of betListData; let ind = index;">
                    <ul class="matched-head" *ngIf="betData.type=='back'">
                        <li class="col-bet">Back (Bet For)</li>
                        <li class="col-odd">Odds</li>
                        <li class="col-stake">Stake</li>
                        <li class="col-profit">Profit</li>
                    </ul>
                    <ul class="matched-head" *ngIf="betData.type=='lay'">
                        <li class="col-bet">Lay (Bet For)</li>
                        <li class="col-odd">Odds</li>
                        <li class="col-stake">Stake</li>
                        <li class="col-profit">Profit</li>
                    </ul>
                    <dl [ngClass]="betData.type=='back' ? 'slip-back' : 'slip-lay'">
                        <dd class="refer">
                            <span>Ref:  {{betData.betId}}</span>
                            <span>{{betData.placeTime | date : 'medium'}}</span>
                        </dd>
                        <dt>
                            <span class="slip-type">{{betData.type == 'back' ? "Back" : "Lay" }}</span>
                            <p class="slip-predict">
                                <span class="short-amount">{{betData.selection}}</span>
                                <span>{{betData.market}}</span>
                            </p>
                        </dt>
                        <dd class="col-odd">{{betData.oddsRequest}}</dd>
                        <dd class="col-stake"> {{betData.amountStake}}</dd>
                        <dd class="col-profit"> {{betData.resultAmount}}</dd>
                    </dl>
                </ng-container>
            </div>
            <div class="full_btn" *ngIf="betListData.length > 0">
                <ul class="slip-option">
                    <li>
                        <input id="showBetInfo" type="checkbox" name="openOption">
                        <label for="showBetInfo">Bet Info</label>
                    </li>
                    <li>
                        <input id="showTimeOrder" type="checkbox">
                        <label for="showTimeOrder">Time Order</label>
                    </li>
                    <li>
                        <input id="consolidate" type="checkbox" name="openOption">
                        <label for="consolidate">Consolidate</label>
                    </li>
                    <li>
                        <input id="averageOdds" type="checkbox" name="openOption">
                        <label for="averageOdds">Average Odds</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>