<div class="bet_slip-wrap" [ngClass]="betData.type=='back' ? 'back' : 'lay'">
    <ul class="btn-list">
        <li>
            <p class="dynamic-min-bet">&nbsp;</p>
            <div class="input-num disable">
                <span id="odds" class="typed">{{oddsRequest}}</span>
            </div>
        </li>
        <li>
            <p class="dynamic-min-bet">Min Bet: <strong></strong></p>
            <div class="input-num input-stake">
                <a class="icon-minus" (click)="incDecStack('minus')"></a>
                <span class="typed typeing">{{amountStake}}</span>
                <a class="icon-plus" (click)="incDecStack('plus')"></a>
            </div>
        </li>
    </ul>
    <ul class="coin-list" *ngIf="stackLimitList">
        <li *ngFor="let stackLimit of stackLimitList"><a
                (click)="setStackPrice(stackLimit.stakeLimitPrice)">{{stackLimit.stakeLimitPrice}}</a></li>
    </ul>
    <div class="keyboard-wrap">
        <ul class="btn-tel">
            <li><a (click)="addStackPrice(1)">1</a></li>
            <li><a (click)="addStackPrice(2)">2</a></li>
            <li><a (click)="addStackPrice(3)">3</a></li>
            <li><a (click)="addStackPrice(4)">4</a></li>
            <li><a (click)="addStackPrice(5)">5</a></li>
            <li><a (click)="addStackPrice(6)">6</a></li>
            <li><a (click)="addStackPrice(7)">7</a></li>
            <li><a (click)="addStackPrice(8)">8</a></li>
            <li><a (click)="addStackPrice(9)">9</a></li>
            <li><a (click)="addStackPrice(0)">0</a></li>
        </ul>
        <a class="btn-delete" (click)="removeStackPrice()"></a>
    </div>
    <ul class="btn-list">
        <li>
            <a (click)="deleteBet()" class="btn">Cancel</a>
        </li>
        <li>
            <a [ngClass]="{'disable':amountStake<1}" (click)="openPlaceBet(content)" class="btn-send">Place Bet</a>
        </li>
    </ul>
    <div class="bet-setting" style="display: flex;">
        <a class="bet-check checked">Accept Any Odds</a>
    </div>
</div>
<ng-template #content let-modal class="overlay">
    <div class="pop-wrap">
        <h3>Please Confirm Your Bet</h3>
        <dl class="info-bet">
            <dt>
                <span class="back" *ngIf="betData.type == 'back'">Back</span>
                <span class="lay" *ngIf="betData.type == 'lay'">Lay</span>
                <h4>{{betData.event}}</h4>
            </dt>
            <dd>
                <span>Odds</span>
                <strong>{{betData.oddsRequest}}</strong>
            </dd>
            <dd>
                <span>Stake</span>
                <strong>{{betData.amountStake}}</strong>
            </dd>
            <dd>
                <span *ngIf="betData.type == 'back'">Profit</span>
                <span *ngIf="betData.type == 'lay'">Liability</span>
                <strong *ngIf="betData.type == 'lay'">{{ amountStake * oddsRequest - amountStake |
                    number : '1.2-2'}}</strong>
                <strong *ngIf="betData.type == 'back'">{{ amountStake * oddsRequest - amountStake |
                            number : '1.2-2'}}</strong>
            </dd>
        </dl>
        <ul class="btn-list">
            <li>
                <a class="btn" (click)="modal.dismiss()">Back</a>
            </li>
            <li>
                <a class="btn-send" (click)="saveMatchOdds()">Confirm</a>
            </li>
        </ul>
    </div>
</ng-template>