<app-header></app-header>
<app-news></app-news>
<app-slider *ngIf="isSliderVisible"></app-slider>
<div class="mian-wrap">
    <router-outlet></router-outlet>
</div>
<app-footer *ngIf="isFooterVisible"></app-footer>
<app-nav></app-nav>
<ngx-spinner size="medium" type="ball-scale-multiple">
    <div class="loading-overlay">
        <div class="loading-wrap" style="display: flex;">
            <div class="loading">
                <div></div>
                <div></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
</ngx-spinner>