<div class="card mb-0 matchodd">
    <div class="card-matchodds"><strong class="match-odds">Bookmaker <span class="marketinfo ml-2"></span></strong>
        <marquee class="pull-left hidden-xs" style="width: 50%;font-weight:bold;line-height: 30px;">
        </marquee>
        <span class="matched-count  pull-right">Matched <strong>€ 2.6M</strong></span>
        <marquee class="pull-right show-xs" style="width: 100%;font-weight:bold;line-height: 20px;">
        </marquee>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover betfair-tbl tbl-bets p-rltv" style="margin-bottom:0;background: #FAF8D8;">
                <thead>
                    <th class=""></th>
                    <th colspan="3" style="text-align: right;padding-right: 20px;">
                        Back</th>
                    <th colspan="3" style="text-align: left;padding-left: 20px;">
                        Lay</th>
                </thead>
                <tbody>
                    <tr class="odd-row 1022022224211754 448">
                        <td class="team-name team-width"><span class="title">New Zealand</span>
                            <span class="minus-book"><i class="fa fa-arrow-right"></i>
                                0.00
                            </span>
                        </td>
                        <td colspan="3" style="padding: 0;position: relative;">

                            <div class="suspend-bookmaker"><span class="stats-text">Suspended</span>
                            </div>


                            <dl class="back-gradient">
                                <dd style="cursor: pointer" class="count 448 back_3">

                                    <a class="not-allowed"> 0 <span>1.5M</span></a>
                                </dd>
                                <dd style="cursor: pointer" class="count 448 back_2">

                                    <a class="not-allowed"> 0 <span>1M</span></a>
                                </dd>
                                <dd class="count 448 back_1" style="cursor: pointer">

                                    <a class="not-allowed"> 0 <span>500K</span></a>
                                </dd>
                            </dl>
                        </td>
                        <td colspan="3" style="padding: 0;">
                            <dl class="lay-gradient">
                                <dd style="cursor: pointer" class="count 448 lay_1">

                                    <a class="not-allowed"> 0 <span>500K</span></a>
                                </dd>
                                <dd style="cursor: pointer" class="count 448 lay_2">

                                    <a class="not-allowed"> 0 <span>1M</span></a>
                                </dd>
                                <dd class="count 448 lay_3" id="back_1" style="cursor: pointer">

                                    <a class="not-allowed"> 0 <span>1.5M</span></a>
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr class="fancy-quick-tr  1022022224211754 448">
                        <td colspan="7">
                            <dl class="quick_bet-wrap" id="classWrap">
                                <dt class="" id="fancyBetHeader"><span class="bet-check"
                                        id="fancyBetAcceptCheck"></span></dt>
                                <dd class="col-btn"><a class="btn" id="cancel" style="cursor:pointer;">Cancel</a>
                                </dd>
                                <dd class="col-odd" id="oddsHeader">
                                    <ul class="quick-bet-confirm">
                                        <li id="runs"></li>
                                    </ul>
                                </dd>
                                <dd class="col-stake"><a class="icon-minus show-xs" id="stakeDown"></a><input
                                        type="number" class="ng-untouched ng-pristine ng-valid"><a
                                        class="icon-plus show-xs" id="stakeUp"></a>
                                </dd>
                                <dd class="col-send"><button class="btn-send disable" id="placeBet"
                                        style="cursor:pointer;">Place
                                        Bets</button></dd>
                                <dd class="col-stake_list" id="stakePopupList" style="display: block;">
                                    <ul>

                                        <li><a class="btn" style="cursor:pointer;">1000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">5000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">10000</a>
                                        </li>
                                        <li><a class="btn" style="cursor:pointer;">25000</a>
                                        </li>
                                        <li><a class="btn" style="cursor:pointer;">50000</a>
                                        </li>
                                        <li><a class="btn" style="cursor:pointer;">100000</a>
                                        </li>
                                        <li><a class="btn" style="cursor:pointer;">200000</a>
                                        </li>
                                        <li><a class="btn" style="cursor:pointer;">500000</a>
                                        </li>
                                    </ul>
                                </dd>
                                <div class="show-xs betmobile-btn">
                                    <dd class="col-btn"><a class="btn" id="cancel" style="cursor:pointer;">Cancel</a>
                                    </dd>
                                    <dd class="col-send"><button class="btn-send disable" id="placeBet"
                                            style="cursor:pointer;">Place
                                            Bets</button></dd>
                                </div>
                            </dl>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>