<form [formGroup]="matchOddsForm" (ngSubmit)="saveMatchOdds()">
    <div class="card mb-3 matchodd" *ngFor="let matchOdds of matchOddsData">
        <input type="hidden" [(ngModel)]="matchOdds.exEventId" formControlName="EventId" />
        <input type="hidden" [(ngModel)]="matchOdds.eventName" formControlName="event" />
        <input type="hidden" [(ngModel)]="matchOdds.marketId" formControlName="MarketId" />
        <input type="hidden" [(ngModel)]="matchOdds.marketName" formControlName="market" />
        <input type="hidden" formControlName="selection" />
        <input type="hidden" formControlName="selectionId" />
        <input type="hidden" formControlName="type" />
        <input type="hidden" formControlName="betType" />
        <div class="card-matchodds"><strong class="match-odds">{{matchOdds.marketName}} <span
                    class="marketinfo ml-2"></span></strong>
            <span class="matched-count  pull-right">Matched <strong>€ {{
                    matchOdds.oddsData.totalMatched | thousandSuffixes : 2 }}</strong></span>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover tbl-bets betfair-tbl p-rltv">
                    <div class="suspended" *ngIf="matchOdds.oddsData.status=='SUSPENDED'"><span
                            class="stats-text">Suspended</span></div>
                    <thead>
                        <th class="show-xs min-max-mobile">
                            <dl class="fancy-info" id="minMaxBox" *ngIf="matchOdds.oddsData.status!='SUSPENDED'">
                                <dt>Min/Max</dt>
                                <dd id="minMaxInfo">
                                    {{matchOdds.min}}-{{matchOdds.max}}
                                </dd>
                            </dl>
                        </th>
                        <th class="hidden-xs d-lg-table-cell d-none" colspan="3"></th>
                        <th class="back-1">Back</th>
                        <th class="lay-1">Lay</th>
                        <th class="min-max-bet d-lg-table-cell d-none" colspan="2">
                            <dl class="fancy-info" id="minMaxBox" *ngIf="matchOdds.oddsData.status!='SUSPENDED'">
                                <dt>Min/Max</dt>
                                <dd id="minMaxInfo">
                                    {{matchOdds.min}}-{{matchOdds.max}}
                                </dd>
                            </dl>
                        </th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let matchOddsPrice of matchOdds.oddsData.runners; let i = index">
                            <tr style="position: relative;" class="odd-row">
                                <td class="team-name">
                                    <span class="title">{{matchOddsPrice.runnerName}}</span>
                                    <span *ngIf="BidData && BidData.length > 0"
                                        [ngClass]="{'minus-book' : BidData[i][matchOddsPrice.selectionId] < 0, 'plus-book' : BidData[i][matchOddsPrice.selectionId] > 0 }"><i
                                            class="fa fa-arrow-right"></i>
                                        {{BidData[i][matchOddsPrice.selectionId]}}
                                        <span class="extra-pf" *ngIf="oddBook == true"
                                            [ngClass]="{'plus-book': BidDataNew[i][matchOddsPrice.selectionId] > 0, 'minus-book': BidDataNew[i][matchOddsPrice.selectionId] <= 0 }">({{BidDataNew[i][matchOddsPrice.selectionId]}})</span>
                                    </span>
                                </td>
                                <!-- reverse() -->
                                <td *ngFor="let backPrice of matchOddsPrice.price.back; let bindex = index"
                                    class="count back-{{3-bindex}} {{matchOddsPrice.selectionId}}"
                                    [ngClass]="{'select': selectedIndex == bindex && selectionId == matchOddsPrice.selectionId && betType == 0 }">
                                    <a *ngIf="bindex==2"
                                        (click)="openOrderRow(bindex, matchOdds.exEventId, matchOdds.exMarketId, matchOddsPrice.selectionId, 0, backPrice.price, matchOddsPrice.runnerName)">{{backPrice.price}}
                                        <span>{{backPrice.size | thousandSuffixes : 2
                                            }}</span></a>
                                    <a *ngIf="bindex!=2">{{backPrice.price}}
                                        <span>{{backPrice.size | thousandSuffixes : 2
                                            }}</span></a>
                                </td>
                                <td *ngFor="let layPrice of matchOddsPrice.price.lay; let lindex = index"
                                    class="count lay-{{lindex+1}} {{matchOddsPrice.selectionId}}"
                                    [ngClass]="{'select': selectedIndex == lindex && selectionId == matchOddsPrice.selectionId && betType == 1 }">
                                    <a *ngIf="lindex==0"
                                        (click)="openOrderRow(lindex, matchOdds.exEventId, matchOdds.exMarketId, matchOddsPrice.selectionId, 1, layPrice.price, matchOddsPrice.runnerName)">{{layPrice.price}}
                                        <span>{{layPrice.size | thousandSuffixes : 2
                                            }}</span></a>
                                    <a *ngIf="lindex!=0">{{layPrice.price}}
                                        <span>{{layPrice.size | thousandSuffixes : 2
                                            }}</span></a>
                                </td>
                            </tr>
                            <tr class="fancy-quick-tr"
                                [ngClass]="{'d-table-row': selectionId == matchOddsPrice.selectionId, 'slip-lay': betType == 1, 'slip-back': betType == 0 }" *ngIf="selectionId > 0 && selectionId == matchOddsPrice.selectionId">
                                <td colspan="7">
                                    <input type="hidden" formControlName="sportId" [ngModel]="sportId" />
                                    <dl class="quick_bet-wrap" id="classWrap">
                                        <dt class="" id="fancyBetHeader" style="width:35%"><span class="bet-check"
                                                id="fancyBetAcceptCheck"></span>
                                        </dt>
                                        <dd class="col-btn"><a class="btn" id="cancel" style="cursor:pointer;"
                                                (click)="closeOrderRow()">Cancel</a>
                                        </dd>
                                        <dd class="col-stake betfairodds"><a class="icon-minus" id="stakeDown"
                                                (click)="setBidPrice(bidOddPrice, bidPriceInput, 0, matchOddsPrice.selectionId, 'minus')"></a>
                                            <input type="number" [(ngModel)]="bidPriceInput"
                                                (change)="OpenBidPrice(bidOddPrice, $event, 0, matchOddsPrice.selectionId)"
                                                formControlName="oddsRequest" (focus)="oddsRequestFocus(true)" (blur)="oddsRequestFocus(false)" #oddRequestEle>
                                            <a class="icon-plus" id="stakeUp"
                                                (click)="setBidPrice(bidOddPrice, bidPriceInput, 0, matchOddsPrice.selectionId, 'plus')"></a>
                                        </dd>
                                        <dd class="col-stake betfair-stack">
                                            <!-- <a class="icon-minus show-xs" id="stakeDown"></a> -->
                                            <input class="oddinput" type="number" [(ngModel)]="bidOddPrice"
                                                (keyup)="OpenBidPrice($event, bidPriceInput, 0, matchOddsPrice.selectionId)"
                                                (change)="OpenBidPrice($event, bidPriceInput, 0, matchOddsPrice.selectionId)"
                                                formControlName="amountStake" (focus)="stackAmountFocus(true)" (blur)="stackAmountFocus(false)" #stackAmountEle>
                                            <!-- <a class="icon-plus show-xs" id="stakeUp"></a> -->
                                        </dd>
                                        <dd class="col-send d-block d-lg-inline-block">
                                            <button class="btn-send" [ngClass]="{'disable' : !isUserLogin || !inPlay }"
                                                [disabled]="!isUserLogin || !inPlay" style="cursor:pointer;">Place
                                                Bets</button>
                                        </dd>
                                        <dd class="col-stake_list" id="stakePopupList" style="display: block;">
                                            <ul *ngIf="stackLimitList">
                                                <li *ngFor="let stackLimit of stackLimitList"><a class="btn"
                                                        style="cursor:pointer;"
                                                        (click)="setBidPrice(stackLimit.stakeLimitPrice, bidPriceInput, 0, matchOddsPrice.selectionId)">{{stackLimit.stakeLimitPrice}}</a>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
