@using Microsoft.AspNetCore.Http
@using Veelki.Core.ServiceHelper
@using Veelki.Data.Entities
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var loginUserInfo = new Users();
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("loginUserDetails")))
    {
        loginUserInfo = jsonParser.ParsJson<Users>(Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString("loginUserDetails")));
    }
}
<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow expanded">
    <div class="navbar-header expanded">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto showLoaderCls">
                <a href="/Home/Index" class="navbar-brand">
                    <h2>RB444</h2>
                    @*<img alt="Logo" src="assets/media/logos/logo-light.png" />*@
                </a>
            </li>

        </ul>
    </div>

    <div class="main-menu-content ps ps--active-y" style="height: 455.625px;clear:both;">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class="nav-item showLoaderCls">
                <a class="d-flex align-items-center" href="/Home/Index">
                    <svg id="home" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path id="Path_25169" data-name="Path 25169" d="M1060,527.273v-.547a2.775,2.775,0,0,1,.9-1.4q3.716-3.7,7.415-7.415a2.8,2.8,0,0,1,1.41-.915h.547a2.769,2.769,0,0,1,1.4.9q3.711,3.729,7.44,7.44a2.669,2.669,0,0,1,.89,1.425v.469a.552.552,0,0,0-.034.089,1.825,1.825,0,0,1-1.818,1.515c-.094,0-.189,0-.294,0v.263c0,1.932.005,3.864,0,5.8a2.129,2.129,0,0,1-1.5,2c-.123.038-.248.068-.372.1h-3.594a.693.693,0,0,1-.466-.744c.009-1.489.005-2.978,0-4.467a.987.987,0,0,0-1.071-1.067c-.553,0-1.105,0-1.658,0a1,1,0,0,0-1.112,1.1c0,1.476-.006,2.952,0,4.428a.694.694,0,0,1-.465.746h-3.594c-.016-.01-.032-.026-.049-.028a2.186,2.186,0,0,1-1.836-2.249c.026-1.88.007-3.762.007-5.642v-.243c-.136,0-.246,0-.355,0a1.8,1.8,0,0,1-1.584-1A4.121,4.121,0,0,1,1060,527.273Z" transform="translate(-1060 -517)" fill="#373737" />
                    </svg>
                    <span class="menu-title text-truncate" data-i18n="Typography">Dashboard</span>
                </a>
            </li>
            <li class="nav-item showLoaderCls">
                <a class="d-flex align-items-center" href="/User/Users">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.3" height="20.199" viewBox="0 0 21.3 20.199">
                        <g id="Monitoring" transform="translate(-320.879 -320.4)">
                            <path id="Path_26534" data-name="Path 26534" d="M329.8,320.5l.1.069a.39.39,0,0,1,.172.448.4.4,0,0,1-.393.306c-.062,0-.124,0-.185,0h-7.127c-.434,0-.559.128-.559.568q0,7.385,0,14.77c0,.447.124.569.579.569h18.292c.455,0,.579-.122.579-.569q0-7.385,0-14.77c0-.44-.126-.567-.56-.567q-3.595,0-7.189,0a.485.485,0,0,1-.479-.214c-.126-.218-.047-.422.234-.612h7.788a1.354,1.354,0,0,1,1.03,1.03v15.494a1.362,1.362,0,0,1-1.514,1.038c-2.32-.02-4.641-.008-6.962-.008h-.257c.532.9.458.755.949,1.621h.231c.632,0,1.263,0,1.9,0a.415.415,0,1,1-.006.823q-4.882,0-9.763,0a.416.416,0,1,1,0-.823c.632,0,1.263,0,1.895,0h.22c.471-.861.4-.742.948-1.621h-7.333a1.256,1.256,0,0,1-1.4-1.4q0-7.168,0-14.336c0-.206,0-.412,0-.618a1.228,1.228,0,0,1,.817-1.129l.211-.075Zm3.613,19.167a13.387,13.387,0,0,0-.966-1.621s-.4.011-.61.01c-.416,0-.832,0-1.249,0-.471.824-.414.742-.945,1.612Z" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26535" data-name="Path 26535" d="M506.037,320.5c.033.023.066.045.1.069a.39.39,0,0,1,.168.463.408.408,0,0,1-.78,0,.391.391,0,0,1,.168-.463c.032-.024.066-.046.1-.068Z" transform="translate(-174.384)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26536" data-name="Path 26536" d="M359.9,362.286H351.56c-.434,0-.561-.128-.561-.567q0-5.324,0-10.649c0-.448.123-.57.578-.57H368.22c.463,0,.581.119.581.587q0,5.314,0,10.628c0,.448-.124.57-.578.57Zm-8.068-5.769h.238c1.552,0,3.1,0,4.656,0a.487.487,0,0,1,.489.3c.135.285.28.565.421.847.111.222.224.444.351.7.042-.1.07-.161.094-.225q.538-1.434,1.075-2.869c.118-.315.234-.63.356-.943a.392.392,0,0,1,.4-.274.4.4,0,0,1,.378.27q.032.076.061.153l1.414,3.775c.025.066.055.13.093.219.354-.569.7-1.107,1.026-1.653a.562.562,0,0,1,.539-.3c1.442.007,2.884,0,4.326,0h.217v-5.182H351.834Zm16.132,4.935v-4.1c-.038,0-.064-.009-.09-.009-1.408,0-2.815,0-4.223.005a.315.315,0,0,0-.214.14c-.431.677-.854,1.36-1.275,2.042a.459.459,0,0,1-.441.28c-.223-.02-.321-.174-.393-.368q-.663-1.783-1.337-3.561c-.024-.064-.052-.127-.094-.229-.045.114-.071.177-.095.241q-.669,1.78-1.336,3.562c-.073.2-.179.345-.4.357s-.343-.129-.435-.315c-.325-.658-.659-1.311-.98-1.971a.277.277,0,0,0-.291-.187c-1.442.007-2.884,0-4.326,0-.066,0-.132.006-.194.009v4.1Z" transform="translate(-28.372 -28.352)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26537" data-name="Path 26537" d="M597.282,588.313c-.425,0-.85,0-1.274,0-.3,0-.484-.167-.48-.417a.419.419,0,0,1,.47-.406q1.295,0,2.59,0c.3,0,.484.167.481.417s-.191.406-.491.406C598.145,588.314,597.714,588.313,597.282,588.313Z" transform="translate(-259.464 -252.319)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26538" data-name="Path 26538" d="M367.066,588.282c-.205,0-.411.005-.616,0a.41.41,0,1,1,0-.82q.605-.009,1.211,0a.409.409,0,0,1,.422.411.417.417,0,0,1-.424.41h-.6Z" transform="translate(-42.574 -252.287)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26539" data-name="Path 26539" d="M434.572,587.48c.192,0,.383,0,.575,0a.411.411,0,1,1,.008.821q-.6.009-1.191,0a.412.412,0,1,1,.012-.822C434.175,587.477,434.374,587.48,434.572,587.48Z" transform="translate(-106.365 -252.31)" fill="#373737" stroke-width="0.2" />
                        </g>
                    </svg>

                    <span class="menu-title text-truncate" data-i18n="Feather">Users</span>
                </a>
            </li>
            <li class="nav-item showLoaderCls">
                <a class="d-flex align-items-center" href="~/MarketWatch/MarketWatch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.3" height="20.199" viewBox="0 0 21.3 20.199">
                        <g id="Monitoring" transform="translate(-320.879 -320.4)">
                            <path id="Path_26534" data-name="Path 26534" d="M329.8,320.5l.1.069a.39.39,0,0,1,.172.448.4.4,0,0,1-.393.306c-.062,0-.124,0-.185,0h-7.127c-.434,0-.559.128-.559.568q0,7.385,0,14.77c0,.447.124.569.579.569h18.292c.455,0,.579-.122.579-.569q0-7.385,0-14.77c0-.44-.126-.567-.56-.567q-3.595,0-7.189,0a.485.485,0,0,1-.479-.214c-.126-.218-.047-.422.234-.612h7.788a1.354,1.354,0,0,1,1.03,1.03v15.494a1.362,1.362,0,0,1-1.514,1.038c-2.32-.02-4.641-.008-6.962-.008h-.257c.532.9.458.755.949,1.621h.231c.632,0,1.263,0,1.9,0a.415.415,0,1,1-.006.823q-4.882,0-9.763,0a.416.416,0,1,1,0-.823c.632,0,1.263,0,1.895,0h.22c.471-.861.4-.742.948-1.621h-7.333a1.256,1.256,0,0,1-1.4-1.4q0-7.168,0-14.336c0-.206,0-.412,0-.618a1.228,1.228,0,0,1,.817-1.129l.211-.075Zm3.613,19.167a13.387,13.387,0,0,0-.966-1.621s-.4.011-.61.01c-.416,0-.832,0-1.249,0-.471.824-.414.742-.945,1.612Z" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26535" data-name="Path 26535" d="M506.037,320.5c.033.023.066.045.1.069a.39.39,0,0,1,.168.463.408.408,0,0,1-.78,0,.391.391,0,0,1,.168-.463c.032-.024.066-.046.1-.068Z" transform="translate(-174.384)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26536" data-name="Path 26536" d="M359.9,362.286H351.56c-.434,0-.561-.128-.561-.567q0-5.324,0-10.649c0-.448.123-.57.578-.57H368.22c.463,0,.581.119.581.587q0,5.314,0,10.628c0,.448-.124.57-.578.57Zm-8.068-5.769h.238c1.552,0,3.1,0,4.656,0a.487.487,0,0,1,.489.3c.135.285.28.565.421.847.111.222.224.444.351.7.042-.1.07-.161.094-.225q.538-1.434,1.075-2.869c.118-.315.234-.63.356-.943a.392.392,0,0,1,.4-.274.4.4,0,0,1,.378.27q.032.076.061.153l1.414,3.775c.025.066.055.13.093.219.354-.569.7-1.107,1.026-1.653a.562.562,0,0,1,.539-.3c1.442.007,2.884,0,4.326,0h.217v-5.182H351.834Zm16.132,4.935v-4.1c-.038,0-.064-.009-.09-.009-1.408,0-2.815,0-4.223.005a.315.315,0,0,0-.214.14c-.431.677-.854,1.36-1.275,2.042a.459.459,0,0,1-.441.28c-.223-.02-.321-.174-.393-.368q-.663-1.783-1.337-3.561c-.024-.064-.052-.127-.094-.229-.045.114-.071.177-.095.241q-.669,1.78-1.336,3.562c-.073.2-.179.345-.4.357s-.343-.129-.435-.315c-.325-.658-.659-1.311-.98-1.971a.277.277,0,0,0-.291-.187c-1.442.007-2.884,0-4.326,0-.066,0-.132.006-.194.009v4.1Z" transform="translate(-28.372 -28.352)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26537" data-name="Path 26537" d="M597.282,588.313c-.425,0-.85,0-1.274,0-.3,0-.484-.167-.48-.417a.419.419,0,0,1,.47-.406q1.295,0,2.59,0c.3,0,.484.167.481.417s-.191.406-.491.406C598.145,588.314,597.714,588.313,597.282,588.313Z" transform="translate(-259.464 -252.319)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26538" data-name="Path 26538" d="M367.066,588.282c-.205,0-.411.005-.616,0a.41.41,0,1,1,0-.82q.605-.009,1.211,0a.409.409,0,0,1,.422.411.417.417,0,0,1-.424.41h-.6Z" transform="translate(-42.574 -252.287)" fill="#373737" stroke-width="0.2" />
                            <path id="Path_26539" data-name="Path 26539" d="M434.572,587.48c.192,0,.383,0,.575,0a.411.411,0,1,1,.008.821q-.6.009-1.191,0a.412.412,0,1,1,.012-.822C434.175,587.477,434.374,587.48,434.572,587.48Z" transform="translate(-106.365 -252.31)" fill="#373737" stroke-width="0.2" />
                        </g>
                    </svg>

                    <span class="menu-title text-truncate" data-i18n="Feather">Market Watch</span>
                </a>
            </li>
            @*<li class="nav-item showLoaderCls">
                    <a class="d-flex align-items-center" href="~/MarketWatch/ManageSeries">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.3" height="20.199" viewBox="0 0 21.3 20.199">
                            <g id="Monitoring" transform="translate(-320.879 -320.4)">
                                <path id="Path_26534" data-name="Path 26534" d="M329.8,320.5l.1.069a.39.39,0,0,1,.172.448.4.4,0,0,1-.393.306c-.062,0-.124,0-.185,0h-7.127c-.434,0-.559.128-.559.568q0,7.385,0,14.77c0,.447.124.569.579.569h18.292c.455,0,.579-.122.579-.569q0-7.385,0-14.77c0-.44-.126-.567-.56-.567q-3.595,0-7.189,0a.485.485,0,0,1-.479-.214c-.126-.218-.047-.422.234-.612h7.788a1.354,1.354,0,0,1,1.03,1.03v15.494a1.362,1.362,0,0,1-1.514,1.038c-2.32-.02-4.641-.008-6.962-.008h-.257c.532.9.458.755.949,1.621h.231c.632,0,1.263,0,1.9,0a.415.415,0,1,1-.006.823q-4.882,0-9.763,0a.416.416,0,1,1,0-.823c.632,0,1.263,0,1.895,0h.22c.471-.861.4-.742.948-1.621h-7.333a1.256,1.256,0,0,1-1.4-1.4q0-7.168,0-14.336c0-.206,0-.412,0-.618a1.228,1.228,0,0,1,.817-1.129l.211-.075Zm3.613,19.167a13.387,13.387,0,0,0-.966-1.621s-.4.011-.61.01c-.416,0-.832,0-1.249,0-.471.824-.414.742-.945,1.612Z" fill="#373737" stroke-width="0.2" />
                                <path id="Path_26535" data-name="Path 26535" d="M506.037,320.5c.033.023.066.045.1.069a.39.39,0,0,1,.168.463.408.408,0,0,1-.78,0,.391.391,0,0,1,.168-.463c.032-.024.066-.046.1-.068Z" transform="translate(-174.384)" fill="#373737" stroke-width="0.2" />
                                <path id="Path_26536" data-name="Path 26536" d="M359.9,362.286H351.56c-.434,0-.561-.128-.561-.567q0-5.324,0-10.649c0-.448.123-.57.578-.57H368.22c.463,0,.581.119.581.587q0,5.314,0,10.628c0,.448-.124.57-.578.57Zm-8.068-5.769h.238c1.552,0,3.1,0,4.656,0a.487.487,0,0,1,.489.3c.135.285.28.565.421.847.111.222.224.444.351.7.042-.1.07-.161.094-.225q.538-1.434,1.075-2.869c.118-.315.234-.63.356-.943a.392.392,0,0,1,.4-.274.4.4,0,0,1,.378.27q.032.076.061.153l1.414,3.775c.025.066.055.13.093.219.354-.569.7-1.107,1.026-1.653a.562.562,0,0,1,.539-.3c1.442.007,2.884,0,4.326,0h.217v-5.182H351.834Zm16.132,4.935v-4.1c-.038,0-.064-.009-.09-.009-1.408,0-2.815,0-4.223.005a.315.315,0,0,0-.214.14c-.431.677-.854,1.36-1.275,2.042a.459.459,0,0,1-.441.28c-.223-.02-.321-.174-.393-.368q-.663-1.783-1.337-3.561c-.024-.064-.052-.127-.094-.229-.045.114-.071.177-.095.241q-.669,1.78-1.336,3.562c-.073.2-.179.345-.4.357s-.343-.129-.435-.315c-.325-.658-.659-1.311-.98-1.971a.277.277,0,0,0-.291-.187c-1.442.007-2.884,0-4.326,0-.066,0-.132.006-.194.009v4.1Z" transform="translate(-28.372 -28.352)" fill="#373737" stroke-width="0.2" />
                                <path id="Path_26537" data-name="Path 26537" d="M597.282,588.313c-.425,0-.85,0-1.274,0-.3,0-.484-.167-.48-.417a.419.419,0,0,1,.47-.406q1.295,0,2.59,0c.3,0,.484.167.481.417s-.191.406-.491.406C598.145,588.314,597.714,588.313,597.282,588.313Z" transform="translate(-259.464 -252.319)" fill="#373737" stroke-width="0.2" />
                                <path id="Path_26538" data-name="Path 26538" d="M367.066,588.282c-.205,0-.411.005-.616,0a.41.41,0,1,1,0-.82q.605-.009,1.211,0a.409.409,0,0,1,.422.411.417.417,0,0,1-.424.41h-.6Z" transform="translate(-42.574 -252.287)" fill="#373737" stroke-width="0.2" />
                                <path id="Path_26539" data-name="Path 26539" d="M434.572,587.48c.192,0,.383,0,.575,0a.411.411,0,1,1,.008.821q-.6.009-1.191,0a.412.412,0,1,1,.012-.822C434.175,587.477,434.374,587.48,434.572,587.48Z" transform="translate(-106.365 -252.31)" fill="#373737" stroke-width="0.2" />
                            </g>
                        </svg>

                        <span class="menu-title text-truncate" data-i18n="Feather">Manage Series/Matches</span>
                    </a>
                </li>*@
            @*<li class="nav-item has-sub" style="">
                    <a class="d-flex align-items-center" href="#">
                        <svg id="Alarm-tab" xmlns="http://www.w3.org/2000/svg" width="19.994" height="20" viewBox="0 0 19.994 20">
                            <path id="Path_25209" data-name="Path 25209" d="M-1459.488,950.659a.583.583,0,0,1,.337.606c-.008.513,0,1.026,0,1.538,0,.3-.121.466-.355.519a.414.414,0,0,1-.516-.33,3.6,3.6,0,0,1-.027-.536c0-.4.005-.795,0-1.192a.58.58,0,0,1,.337-.606Z" transform="translate(1469.601 -950.659)" fill="#373737" />
                            <path id="Path_25210" data-name="Path 25210" d="M-1603.305,1031.527v-.234q0-2.9,0-5.806a6.533,6.533,0,0,1,.461-2.535,6.228,6.228,0,0,1,2.443-2.925,6.313,6.313,0,0,1,4.139-.986,6.257,6.257,0,0,1,3.53,1.508,6.045,6.045,0,0,1,2.048,3.413,7.3,7.3,0,0,1,.147,1.429c.016,1.967.007,3.935.007,5.9v.239a1.93,1.93,0,0,1,1.148.412,1.78,1.78,0,0,1,.673,1.431c0,.4.005.807,0,1.211-.005.361-.178.526-.547.526h-15.322c-.369,0-.543-.165-.547-.526,0-.442-.019-.885.011-1.326a1.77,1.77,0,0,1,1.679-1.718Zm11.863,0v-.239c0-1.929,0-3.859,0-5.788a6.941,6.941,0,0,0-.068-1.015,5.193,5.193,0,0,0-2.048-3.446,5.381,5.381,0,0,0-3.691-1.121,5.307,5.307,0,0,0-3.178,1.244,5.289,5.289,0,0,0-1.962,4.247q0,2.952,0,5.9v.214Zm-12.762,2.683h14.582c0-.281,0-.549,0-.817a1.428,1.428,0,0,0-.01-.211.935.935,0,0,0-1.025-.755h-12.516a1.7,1.7,0,0,0-.234.013.872.872,0,0,0-.79.76C-1604.225,1033.529-1604.2,1033.862-1604.2,1034.208Z" transform="translate(1606.915 -1015.113)" fill="#373737" />
                            <path id="Path_25211" data-name="Path 25211" d="M-1636.932,1046.559a1.106,1.106,0,0,1-.2-.062q-.85-.419-1.7-.848a.468.468,0,0,1-.294-.49.428.428,0,0,1,.384-.371.6.6,0,0,1,.294.057q.861.419,1.714.854a.437.437,0,0,1,.259.535A.437.437,0,0,1-1636.932,1046.559Z" transform="translate(1639.125 -1039.766)" fill="#373737" />
                            <path id="Path_25212" data-name="Path 25212" d="M-1314.293,1046.407a.446.446,0,0,1-.45-.277.432.432,0,0,1,.126-.5.569.569,0,0,1,.11-.077c.576-.289,1.151-.581,1.731-.864a.435.435,0,0,1,.571.1.415.415,0,0,1,.02.53.74.74,0,0,1-.238.186q-.819.418-1.644.823A1.614,1.614,0,0,1-1314.293,1046.407Z" transform="translate(1332.094 -1039.613)" fill="#373737" />
                            <path id="Path_25213" data-name="Path 25213" d="M-1568.6,969.776a.465.465,0,0,1-.232.46.409.409,0,0,1-.437-.011.785.785,0,0,1-.136-.106q-.627-.624-1.25-1.25a.456.456,0,0,1-.145-.5.376.376,0,0,1,.368-.286.662.662,0,0,1,.392.15c.438.413.86.843,1.279,1.275A1.13,1.13,0,0,1-1568.6,969.776Z" transform="translate(1574.469 -967.166)" fill="#373737" />
                            <path id="Path_25214" data-name="Path 25214" d="M-1374.084,970.064a.453.453,0,0,1-.433-.226.4.4,0,0,1,.006-.437,1.8,1.8,0,0,1,.226-.26q.562-.566,1.128-1.128a.469.469,0,0,1,.5-.151.385.385,0,0,1,.29.346.5.5,0,0,1-.087.336c-.465.486-.943.958-1.425,1.427A.553.553,0,0,1-1374.084,970.064Z" transform="translate(1388.697 -966.938)" fill="#373737" />
                            <path id="Path_25215" data-name="Path 25215" d="M-1536.627,1057.5a4.469,4.469,0,0,1,3.843-4.226c.177-.023.356-.036.535-.042a.449.449,0,0,1,.529.427c.009.265-.189.424-.5.468a6.322,6.322,0,0,0-1.216.24,3.548,3.548,0,0,0-2.3,3.169,1.363,1.363,0,0,1-.03.266.421.421,0,0,1-.449.336.431.431,0,0,1-.411-.407C-1536.632,1057.65-1536.627,1057.572-1536.627,1057.5Z" transform="translate(1542.116 -1047.736)" fill="#373737" />
                        </svg>

                        <span class="menu-title text-truncate" data-i18n="Invoice">Reports</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="d-flex align-items-center" href="~/Reports/AccountStatement"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="List">Account Statement</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="~/Reports/ActivityLog"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Activity Log</span></a>
                        </li>
                    </ul>
                </li>*@
            <li class="nav-item has-sub" style="">
                <a class="d-flex align-items-center" href="#">
                    <svg id="Energy_tab" xmlns="http://www.w3.org/2000/svg" width="14.893" height="20" viewBox="0 0 14.893 20">
                        <path id="Path_25216" data-name="Path 25216" d="M-2629.319,980.979c-.3-.056-.6-.095-.9-.172a5.281,5.281,0,0,1-3.9-4.427c0-.032-.009-.064-.012-.086a7.43,7.43,0,0,1-1.671-.346c-1.594-.437-4.024-2.626-4.044-4.869-.008-.918,0-1.836,0-2.754v-.236c-.186,0-.36,0-.533,0a.59.59,0,0,1-.638-.63q0-1.133,0-2.265a.586.586,0,0,1,.628-.619c.5,0,1,0,1.5,0h.21v-.285c0-.9,0-1.81,0-2.715a.585.585,0,0,1,.536-.592.586.586,0,0,1,.618.459,1.054,1.054,0,0,1,.016.233c0,.957,0,1.913,0,2.885h7.859v-.2c0-.918,0-1.836,0-2.754a.582.582,0,0,1,.832-.562.581.581,0,0,1,.339.569q0,1.367,0,2.734v.232h.674c.358,0,.716,0,1.074,0a.575.575,0,0,1,.593.574q.011,1.181,0,2.363a.578.578,0,0,1-.591.576c-.182,0-.364,0-.578,0v.211q0,1.318,0,2.636c0,2.684-2.815,4.832-5.464,5.29-.056.01-.113.023-.182.037a3.924,3.924,0,0,0,.778,1.894,4.047,4.047,0,0,0,3.2,1.648.613.613,0,0,1,.656.466.6.6,0,0,1-.393.679c-.01.005-.015.019-.023.029Zm-10.527-14.062h.5a.6.6,0,0,1,.665.661c0,.872,0,1.744,0,2.617,0,.442-.009.887.038,1.325.252,2.37,3.622,4.041,5.947,3.5,1.91-.443,4.211-2.073,4.217-4.034,0-1.146,0-2.291,0-3.437a.589.589,0,0,1,.634-.633c.174,0,.347,0,.524,0v-1.156h-12.529Z" transform="translate(2641.023 -960.979)" fill="#373737" />
                        <path id="Path_25217" data-name="Path 25217" d="M-2548.13,1100.443l-1.089-.548c-.179-.09-.363-.174-.539-.272a.572.572,0,0,1-.152-.924q.587-.613,1.2-1.2a.548.548,0,0,1,.789.014.549.549,0,0,1,.038.8c-.195.208-.414.392-.65.612l.989.5c.215.108.433.21.644.324a.577.577,0,0,1,.157.949q-.575.6-1.174,1.172a.553.553,0,0,1-.817-.018.553.553,0,0,1,0-.817C-2548.544,1100.837-2548.344,1100.652-2548.13,1100.443Z" transform="translate(2555.767 -1090.237)" fill="#373737" />
                    </svg>

                    <span class="menu-title text-truncate" data-i18n="Invoice">Reports</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a class="d-flex align-items-center" href="~/Report/RollingCommision">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                            <span class="menu-item text-truncate" data-i18n="List">Rolling Commision</span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex align-items-center" href="~/Report/SettlementData"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Settlement Data</span></a>
                    </li>

                    <li>
                        <a class="d-flex align-items-center" href="~/Report/BetDataList"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Bet Data</span></a>
                    </li>

                    <li>
                        <a class="d-flex align-items-center" href="~/Setting/MatchSettings"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Match Settings</span></a>
                    </li>
                </ul>
            </li>
            @if (ViewBag.LoginUser.RoleId == 2)
            {
                <li class="nav-item has-sub" style="">
                    <a class="d-flex align-items-center" href="#">
                        <svg id="Energy_tab" xmlns="http://www.w3.org/2000/svg" width="14.893" height="20" viewBox="0 0 14.893 20">
                            <path id="Path_25216" data-name="Path 25216" d="M-2629.319,980.979c-.3-.056-.6-.095-.9-.172a5.281,5.281,0,0,1-3.9-4.427c0-.032-.009-.064-.012-.086a7.43,7.43,0,0,1-1.671-.346c-1.594-.437-4.024-2.626-4.044-4.869-.008-.918,0-1.836,0-2.754v-.236c-.186,0-.36,0-.533,0a.59.59,0,0,1-.638-.63q0-1.133,0-2.265a.586.586,0,0,1,.628-.619c.5,0,1,0,1.5,0h.21v-.285c0-.9,0-1.81,0-2.715a.585.585,0,0,1,.536-.592.586.586,0,0,1,.618.459,1.054,1.054,0,0,1,.016.233c0,.957,0,1.913,0,2.885h7.859v-.2c0-.918,0-1.836,0-2.754a.582.582,0,0,1,.832-.562.581.581,0,0,1,.339.569q0,1.367,0,2.734v.232h.674c.358,0,.716,0,1.074,0a.575.575,0,0,1,.593.574q.011,1.181,0,2.363a.578.578,0,0,1-.591.576c-.182,0-.364,0-.578,0v.211q0,1.318,0,2.636c0,2.684-2.815,4.832-5.464,5.29-.056.01-.113.023-.182.037a3.924,3.924,0,0,0,.778,1.894,4.047,4.047,0,0,0,3.2,1.648.613.613,0,0,1,.656.466.6.6,0,0,1-.393.679c-.01.005-.015.019-.023.029Zm-10.527-14.062h.5a.6.6,0,0,1,.665.661c0,.872,0,1.744,0,2.617,0,.442-.009.887.038,1.325.252,2.37,3.622,4.041,5.947,3.5,1.91-.443,4.211-2.073,4.217-4.034,0-1.146,0-2.291,0-3.437a.589.589,0,0,1,.634-.633c.174,0,.347,0,.524,0v-1.156h-12.529Z" transform="translate(2641.023 -960.979)" fill="#373737" />
                            <path id="Path_25217" data-name="Path 25217" d="M-2548.13,1100.443l-1.089-.548c-.179-.09-.363-.174-.539-.272a.572.572,0,0,1-.152-.924q.587-.613,1.2-1.2a.548.548,0,0,1,.789.014.549.549,0,0,1,.038.8c-.195.208-.414.392-.65.612l.989.5c.215.108.433.21.644.324a.577.577,0,0,1,.157.949q-.575.6-1.174,1.172a.553.553,0,0,1-.817-.018.553.553,0,0,1,0-.817C-2548.544,1100.837-2548.344,1100.652-2548.13,1100.443Z" transform="translate(2555.767 -1090.237)" fill="#373737" />
                        </svg>

                        <span class="menu-title text-truncate" data-i18n="Invoice">Settings</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="d-flex align-items-center" href="~/Setting/SportsSetting">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                                <span class="menu-item text-truncate" data-i18n="List">Sports Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="~/Setting/SeriesSetting"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Series Settings</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="~/Setting/MatchSettings"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Match Settings</span></a>
                        </li>
                    </ul>
                </li>
                @*<li class="nav-item has-sub" style="">
                        <a class="d-flex align-items-center" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="16.278" viewBox="0 0 20.5 16.278">
                                <g id="Control_tab" transform="translate(0.25 0.25)">
                                    <path id="Path_25231" data-name="Path 25231" d="M386.431,489.2a.574.574,0,0,1,.577-.306c.963.009,1.927,0,2.891,0,.094,0,.175.018.219-.122a1.955,1.955,0,0,1,1.925-1.45,2.021,2.021,0,0,1,1.886,1.49l.025.082h11.862a1.351,1.351,0,0,1,.291.021.412.412,0,0,1,.324.429.421.421,0,0,1-.381.4,2.473,2.473,0,0,1-.254.007q-5.8,0-11.6,0c-.171,0-.254.032-.311.217a1.944,1.944,0,0,1-1.87,1.364,2,2,0,0,1-1.869-1.378.243.243,0,0,0-.283-.2c-.963.007-1.927,0-2.891.007a.514.514,0,0,1-.541-.326Zm6.726.137a1.139,1.139,0,0,0-1.126-1.153,1.146,1.146,0,1,0,1.126,1.153Z" transform="translate(-386.431 -481.424)" fill="#373737" stroke-width="0.5" />
                                    <path id="Path_25232" data-name="Path 25232" d="M386.431,415.073a.592.592,0,0,1,.6-.3c2.3.006,4.609,0,6.913.007a.24.24,0,0,0,.281-.2,1.955,1.955,0,0,1,1.865-1.373,2,2,0,0,1,1.883,1.384.232.232,0,0,0,.272.192q3.779-.007,7.558,0a1.366,1.366,0,0,1,.272.019.423.423,0,0,1-.039.832,2.185,2.185,0,0,1-.253.008q-3.769,0-7.538,0c-.166,0-.243.033-.3.208a1.953,1.953,0,0,1-1.863,1.375,1.994,1.994,0,0,1-1.869-1.35c-.065-.2-.154-.234-.342-.234-2.278.007-4.557,0-6.835.008a.615.615,0,0,1-.606-.291Zm9.662,1.3a1.141,1.141,0,1,0,.015-2.282,1.127,1.127,0,0,0-1.158,1.14A1.145,1.145,0,0,0,396.093,416.371Z" transform="translate(-386.431 -413.2)" fill="#373737" stroke-width="0.5" />
                                    <path id="Path_25233" data-name="Path 25233" d="M386.431,562.952a.613.613,0,0,1,.605-.29q5.546.009,11.092.008c.167,0,.245-.036.3-.209a1.952,1.952,0,0,1,1.863-1.374,2,2,0,0,1,1.883,1.386.232.232,0,0,0,.268.2c1.152-.008,2.3-.005,3.457,0,.314,0,.489.142.5.4a.409.409,0,0,1-.347.447,1.284,1.284,0,0,1-.233.015c-1.133,0-2.265,0-3.4,0-.15,0-.223.031-.273.19a1.952,1.952,0,0,1-1.874,1.387,2.027,2.027,0,0,1-1.885-1.389c-.018-.055-.034-.111-.057-.185h-.251q-5.527,0-11.053,0a.594.594,0,0,1-.6-.3Zm13.853-.978a1.144,1.144,0,1,0,1.138,1.148A1.145,1.145,0,0,0,400.284,561.973Z" transform="translate(-386.431 -549.32)" fill="#373737" stroke-width="0.5" />
                                </g>
                            </svg>
                            <span class="menu-title text-truncate" data-i18n="Invoice">Sports</span>
                        </a>
                        <ul class="menu-content">
                            <li>
                                <a class="d-flex align-items-center" href="~/Home/Index/#/Cricket"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="List">Cricket</span></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center" href="~/Home/Index/#/Soccer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Soccer</span></a>
                            </li>

                        </ul>
                    </li>*@

                <li class="nav-item has-sub" style="">
                    <a class="d-flex align-items-center" href="#">
                        <svg id="Alarm-tab" xmlns="http://www.w3.org/2000/svg" width="19.994" height="20" viewBox="0 0 19.994 20">
                            <path id="Path_25209" data-name="Path 25209" d="M-1459.488,950.659a.583.583,0,0,1,.337.606c-.008.513,0,1.026,0,1.538,0,.3-.121.466-.355.519a.414.414,0,0,1-.516-.33,3.6,3.6,0,0,1-.027-.536c0-.4.005-.795,0-1.192a.58.58,0,0,1,.337-.606Z" transform="translate(1469.601 -950.659)" fill="#373737" />
                            <path id="Path_25210" data-name="Path 25210" d="M-1603.305,1031.527v-.234q0-2.9,0-5.806a6.533,6.533,0,0,1,.461-2.535,6.228,6.228,0,0,1,2.443-2.925,6.313,6.313,0,0,1,4.139-.986,6.257,6.257,0,0,1,3.53,1.508,6.045,6.045,0,0,1,2.048,3.413,7.3,7.3,0,0,1,.147,1.429c.016,1.967.007,3.935.007,5.9v.239a1.93,1.93,0,0,1,1.148.412,1.78,1.78,0,0,1,.673,1.431c0,.4.005.807,0,1.211-.005.361-.178.526-.547.526h-15.322c-.369,0-.543-.165-.547-.526,0-.442-.019-.885.011-1.326a1.77,1.77,0,0,1,1.679-1.718Zm11.863,0v-.239c0-1.929,0-3.859,0-5.788a6.941,6.941,0,0,0-.068-1.015,5.193,5.193,0,0,0-2.048-3.446,5.381,5.381,0,0,0-3.691-1.121,5.307,5.307,0,0,0-3.178,1.244,5.289,5.289,0,0,0-1.962,4.247q0,2.952,0,5.9v.214Zm-12.762,2.683h14.582c0-.281,0-.549,0-.817a1.428,1.428,0,0,0-.01-.211.935.935,0,0,0-1.025-.755h-12.516a1.7,1.7,0,0,0-.234.013.872.872,0,0,0-.79.76C-1604.225,1033.529-1604.2,1033.862-1604.2,1034.208Z" transform="translate(1606.915 -1015.113)" fill="#373737" />
                            <path id="Path_25211" data-name="Path 25211" d="M-1636.932,1046.559a1.106,1.106,0,0,1-.2-.062q-.85-.419-1.7-.848a.468.468,0,0,1-.294-.49.428.428,0,0,1,.384-.371.6.6,0,0,1,.294.057q.861.419,1.714.854a.437.437,0,0,1,.259.535A.437.437,0,0,1-1636.932,1046.559Z" transform="translate(1639.125 -1039.766)" fill="#373737" />
                            <path id="Path_25212" data-name="Path 25212" d="M-1314.293,1046.407a.446.446,0,0,1-.45-.277.432.432,0,0,1,.126-.5.569.569,0,0,1,.11-.077c.576-.289,1.151-.581,1.731-.864a.435.435,0,0,1,.571.1.415.415,0,0,1,.02.53.74.74,0,0,1-.238.186q-.819.418-1.644.823A1.614,1.614,0,0,1-1314.293,1046.407Z" transform="translate(1332.094 -1039.613)" fill="#373737" />
                            <path id="Path_25213" data-name="Path 25213" d="M-1568.6,969.776a.465.465,0,0,1-.232.46.409.409,0,0,1-.437-.011.785.785,0,0,1-.136-.106q-.627-.624-1.25-1.25a.456.456,0,0,1-.145-.5.376.376,0,0,1,.368-.286.662.662,0,0,1,.392.15c.438.413.86.843,1.279,1.275A1.13,1.13,0,0,1-1568.6,969.776Z" transform="translate(1574.469 -967.166)" fill="#373737" />
                            <path id="Path_25214" data-name="Path 25214" d="M-1374.084,970.064a.453.453,0,0,1-.433-.226.4.4,0,0,1,.006-.437,1.8,1.8,0,0,1,.226-.26q.562-.566,1.128-1.128a.469.469,0,0,1,.5-.151.385.385,0,0,1,.29.346.5.5,0,0,1-.087.336c-.465.486-.943.958-1.425,1.427A.553.553,0,0,1-1374.084,970.064Z" transform="translate(1388.697 -966.938)" fill="#373737" />
                            <path id="Path_25215" data-name="Path 25215" d="M-1536.627,1057.5a4.469,4.469,0,0,1,3.843-4.226c.177-.023.356-.036.535-.042a.449.449,0,0,1,.529.427c.009.265-.189.424-.5.468a6.322,6.322,0,0,0-1.216.24,3.548,3.548,0,0,0-2.3,3.169,1.363,1.363,0,0,1-.03.266.421.421,0,0,1-.449.336.431.431,0,0,1-.411-.407C-1536.632,1057.65-1536.627,1057.572-1536.627,1057.5Z" transform="translate(1542.116 -1047.736)" fill="#373737" />
                        </svg>

                        <span class="menu-title text-truncate" data-i18n="Invoice">Other Settings</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a class="d-flex align-items-center" href="~/OtherSetting/LogoImages"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="List">Logo Master</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="~/OtherSetting/News"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">News Master</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="~/OtherSetting/SliderImages"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span class="menu-item text-truncate" data-i18n="Preview">Slider Master</span></a>
                        </li>
                    </ul>
                </li>
            }
            @*<li class="nav-item showLoaderCls">
                    <a class="d-flex align-items-center" href="~/Home/UserProfile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18.208" height="20" viewBox="0 0 18.208 20">
                            <g id="Profile" transform="translate(707.12 -520.8)">
                                <path id="Path_25228" data-name="Path 25228" d="M-629.72,520.8a11.618,11.618,0,0,1,1.581.391,5.181,5.181,0,0,1,3.257,3.588,5.237,5.237,0,0,1-1.69,5.615,5.12,5.12,0,0,1-4.357,1.261,5.225,5.225,0,0,1-4.189-3.208,5.219,5.219,0,0,1,.521-5.3,5.293,5.293,0,0,1,3.431-2.242c.21-.043.424-.07.636-.1Zm-.411,1.215a4.263,4.263,0,0,0-4.244,4.256,4.263,4.263,0,0,0,4.256,4.244,4.264,4.264,0,0,0,4.244-4.255A4.264,4.264,0,0,0-630.131,522.015Z" transform="translate(-67.891)" fill="#373737" />
                                <path id="Path_25229" data-name="Path 25229" d="M-698.024,769.4h-8.337c-.562,0-.777-.231-.759-.795a7.848,7.848,0,0,1,1.76-4.809,7.622,7.622,0,0,1,5.049-2.886,16.51,16.51,0,0,1,2-.088c.714-.008,1.43-.005,2.143.036a7.24,7.24,0,0,1,3.181.965,7.976,7.976,0,0,1,3.077,3.107,7.606,7.606,0,0,1,.917,2.763c.042.327.065.657.08.987a.618.618,0,0,1-.692.719Zm7.86-1.225a.758.758,0,0,0,0-.089c-.019-.147-.034-.295-.06-.44a6.67,6.67,0,0,0-1.963-3.726,6.279,6.279,0,0,0-4.071-1.847c-1.068-.064-2.143-.045-3.215-.027a6.181,6.181,0,0,0-2.9.787,6.689,6.689,0,0,0-3.053,3.435,6.356,6.356,0,0,0-.452,1.906Z" transform="translate(0 -228.599)" fill="#373737" />
                            </g>
                        </svg>
                        <span class="menu-title text-truncate" data-i18n="Feather">Profile</span>
                    </a>
                </li>
                <li class="nav-item showLoaderCls">
                    <a class="d-flex align-items-center" href="~/account/Logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18.538" height="20" viewBox="0 0 18.538 20">
                            <g id="Logout" transform="translate(-776.518 -239.803)">
                                <path id="Path_26532" data-name="Path 26532" d="M777.665,249.8c0,2.083,0,4.165,0,6.248a2.555,2.555,0,0,0,2.088,2.558,3.312,3.312,0,0,0,.621.052c1.64,0,3.28,0,4.92,0a1.215,1.215,0,0,1,.328.03.559.559,0,0,1,.394.583.573.573,0,0,1-.5.523,1.026,1.026,0,0,1-.136.005c-1.712,0-3.423.008-5.135,0a3.692,3.692,0,0,1-3.649-2.983,4.209,4.209,0,0,1-.073-.833c0-4.12.008-8.239-.009-12.359a3.728,3.728,0,0,1,2.51-3.6,4.059,4.059,0,0,1,1.2-.2c1.75-.022,3.5-.01,5.252-.009a.574.574,0,0,1,.613.484.556.556,0,0,1-.384.625,1.185,1.185,0,0,1-.328.032c-1.686,0-3.371,0-5.057,0a2.591,2.591,0,0,0-2.664,2.658Q777.668,246.7,777.665,249.8Z" transform="translate(0 0)" fill="#373737" />
                                <path id="Path_26533" data-name="Path 26533" d="M871.412,353.7h-.265q-5.583,0-11.166,0a1.351,1.351,0,0,1-.347-.035.564.564,0,0,1,.058-1.093,1.968,1.968,0,0,1,.33-.02h11.391c-.077-.083-.121-.133-.168-.179q-1.2-1.2-2.4-2.4a.66.66,0,0,1-.244-.47.547.547,0,0,1,.293-.514.535.535,0,0,1,.606.035,1.235,1.235,0,0,1,.16.142l3.465,3.464a.6.6,0,0,1,0,.991q-1.745,1.747-3.491,3.494a.6.6,0,0,1-.611.208.567.567,0,0,1-.273-.934c.172-.195.364-.372.548-.556l1.96-1.96C871.3,353.825,871.341,353.778,871.412,353.7Z" transform="translate(-78.329 -103.317)" fill="#373737" />
                            </g>
                        </svg>
                        <span class="menu-title text-truncate" data-i18n="Feather">Logout</span>
                    </a>
                </li>*@
        </ul>
        <div class="water-mark"></div>
        <div class="ps__rail-x" style="left: 0px; bottom: -700px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 700px; height: 456px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 201px; height: 131px;"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav-item").click(function () {
                $('.navigation-main li.active').removeClass('active');
                $(".navigation-main > li >ul >li .redCls").removeClass('redCls');
            });
        });
    </script>
}