<header style="visibility: hidden; position: relative;">
    <h1 class="top-logo"></h1>
    <div class="btn-wrap">
        <a class="login-index ui-link" routerLink="/login">Login</a>
    </div>
</header>
<header *ngIf="!isLoginUser">
    <h1 class="top-logo"></h1>
    <div class="btn-wrap">
        <a class="login-index ui-link" routerLink="/login">Login</a>
    </div>
</header>
<header *ngIf="isLoginUser">
    <ul>
        <li class="li-tv_bet">
            <a class="a-open_bets ui-link" (click)="getBetList();"><img
                    src="assets/images/mobile/transparent.gif">Bets</a>
        </li>

        <app-balance></app-balance>
        <li>
            <a class="a-setting ui-link" (click)="isShowSetting=true" title="Setting"><img
                    src="assets/images/mobile/transparent.gif"></a>
        </li>
    </ul>
</header>

<div class="overlay right-side" [ngClass]="{'hiddenStackSetting':!isShowSetting}" style="display: flex;">
    <div class="side-wrap setting-wrap">
        <div class="side-head">
            <h3 class="a-setting"><img src="assets/images/mobile/transparent.gif">Setting</h3>
            <a class="close ui-link" (click)="isShowSetting=false"></a>
        </div>
        <div class="side-content">
            <form [formGroup]="stackForm" (ngSubmit)="stackSubmit()">
                <h3>Stake</h3>
                <dl class="setting-block stake-setting"
                    *ngIf="isStackEdit==false && stackLimitList && stackLimitList.length > 0">
                    <dt>Quick Stakes</dt>
                    <dd *ngFor="let stack of stackLimitList"><a class="btn ui-link select">{{stack.stakeLimitPrice}}</a>
                    </dd>
                    <dd class="col-stake_edit"><a class="btn-edit ui-link" (click)="isStackEdit=true">Edit Stakes</a>
                    </dd>
                </dl>
                <dl class="setting-block stake-setting" *ngIf="isStackEdit==true">
                    <dt>Quick Stakes</dt>
                    <ng-container formArrayName="stackList">
                        <dd *ngFor="let stackGroup of stackList.controls; let i = index">
                            <ng-container [formGroupName]="i">
                                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                                    <input formControlName="id" type="hidden">
                                    <input formControlName="stakeLimitPrice" class="stake_edit-input" type="number"
                                        min="1" maxlength="7">
                                </div>
                            </ng-container>
                        </dd>
                    </ng-container>
                    <dd class="col-stake_edit"><button type="submit" class="btn-send ui-link">OK</button></dd>
                </dl>
                <ul class="btn-list">
                    <li>
                        <a class="btn ui-link" (click)="isStackEdit=false">Cancel</a>
                    </li>
                    <!-- <li>
                        <a class="btn-send ui-link">Save</a>
                    </li> -->
                </ul>
            </form>
        </div>
    </div>
</div>

<div class="overlay left-side" style="display: block;" *ngIf="isShowBet">
    <div class="side-wrap" style="display: flex;">
        <div class="side-head">
            <h3 class="a-open_bets"><img src="assets/images/mobile/transparent.gif">Open Bets</h3>
            <a class="close" (click)="isShowBet=false"></a>
        </div>
        <div class="side-content">
            <!-- <div class="slip-sort" style="padding: 10px;">
                <select class="desktop-bets form-control" [(ngModel)]="selectBetId" (change)="getBetList()">
                    <option value="0">Select Market</option>
                    <option *ngFor="let market of marketList" [ngValue]="market.eventId">{{market.event}}</option>
                </select>
            </div> -->
            <h3 *ngIf="betListData.length > 0">Matched</h3>
            <div *ngIf="betListData.length == 0">No Data Found.</div>
            <div class="slip-list" *ngIf="betListData.length > 0">
                <ng-container *ngFor="let betData of betListData; let ind = index;">
                    <dl class="bets-head" *ngIf="betData.type=='back'">
                        <dt>
                            <h4>Back</h4>
                        </dt>
                        <dd class="col-odds"><span>Odds</span></dd>
                        <dd class="col-stake"><span>Stake</span></dd>
                        <dd class="col-profit"><span>Profit</span></dd>
                    </dl>

                    <dl class="bets-head" *ngIf="betData.type=='lay'">
                        <dt>
                            <h4>Lay</h4>
                        </dt>
                        <dd class="col-odds"><span>Odds</span></dd>
                        <dd class="col-stake"><span>Stake</span></dd>
                        <dd class="col-profit"><span>Liability</span></dd>
                    </dl>
                    <dl [ngClass]="betData.type=='back' ? 'bets-back' : 'bets-lay'">
                        <dt>
                            <span [ngClass]="betData.type=='back' ? 'back' : 'lay'">{{betData.type == 'back' ? "Back" : "Lay" }}</span>
                            <h4>{{betData.selection}}</h4>
                        </dt>
                        <dd class="col-odds"><span>{{betData.oddsRequest}}</span></dd>
                        <dd class="col-stake"><span>{{betData.amountStake}}</span></dd>
                        <dd class="col-profit"><span>{{betData.resultAmount}}</span></dd>
                        <dd class="col-ref">
                            <ul>
                                <li>Ref: {{betData.betId}}</li>
                                <li>{{betData.placeTime | date : 'medium'}}</li>
                            </ul>
                        </dd>
                    </dl>
                </ng-container>
            </div>

            <ul class="check-list" *ngIf="betListData.length > 0">
                <li>
                    <a>Bet Info</a>
                </li>
                <li>
                    <a>Time Order</a>
                </li>
                <li>
                    <a>Average Odds</a>
                </li>
            </ul>

        </div>


    </div>
</div>