<div id="loading" class="loading-wrap" style="top: 100px; display: none;">
    <ul class="loading">
        <li><img src="asstes/images/loading40.gif"></li>
        <li>Loading...
        </li>
        <br>
        <li><span id="progress"></span></li>
    </ul>
</div>
<div class="top">
    <div class="header full-wrap">
        <h1><a href="/">SKYEXCHANGE </a></h1>
        <div id="searchWrap" class="search-wrap" style="">
            <div> <input id="searchInput" class="search-input" type="text" placeholder="Search Events"
                    fdprocessedid="lh2j8"> <button id="searchClear" class="search-clear"
                    style="display: none;"></button> </div>
            <div id="searchResult" class="suggestion-wrap" style="display: none;">
                <ul id="searchList">
                    <li id="noMatching" style="display: none;">
                        <p class="no-matching">No events found matching ...</p>
                    </li>
                    <li id="resultTemplate" style="display: none;"><a></a></li>
                </ul>
            </div>
        </div>
        <ul class="login-wrap" style="display:none">
            <li class="user error"><input id="loginName" type="text" placeholder="Username" fdprocessedid="s6cch9"></li>
            <li><input id="password" type="password" placeholder="Password" fdprocessedid="42p01"></li>
            <li class="valid-code" style="display: block"> <input id="validCode" type="text" placeholder="Validation"
                    maxlength="4" fdprocessedid="nk3uz"> <img id="authenticateImage"
                    src="https://bxawscf.skyexch.bike/verifycode.gr?v=1678553277974"> </li>
            <li><input id="valid" name="valid" type="hidden" value="4934786d-0ae4-4860-9843-d6fdca23b082"></li>
            <li> <a id="loginBtn" class="btn-login" onclick="javascript: return LoginHandler.check(event);">Login <img
                        class="icon-login" src="assets/images/transparent.gif?v=1678553205059">
                </a> </li>
            <li><a class="btn-signup"
                    onclick="window.open('https://wa.link/skyexch', '_blank', config='height=850,width=1200,location=no');">Sign
                    up</a></li>
            <li id="errorMsg" class="error" style="display:none"></li>
        </ul>
        <ul class="account-wrap">
            <li class="main-wallet">
                <a id="multiWallet" href="#multiBalancePop" class="a-wallet">
                    <ul id="accountCredit">
                        <li><span>Main Balance</span> <span id="betCredit">PTH 0.00</span></li>
                        <li><span>Exposure</span> <span id="totalExposure">0.00</span></li>
                        <li class="nums">+<span id="vendorQuantity">5</span></li>
                    </ul>
                    <!-- show wallet-->
                    <div class="wallet-detail" id="multiBalancePop">
                        <div class="wallet-detail-group">
                            <dl class="wallet-detail-content">
                                <dt>Main Balance</dt>
                                <dd class="wallet-balance-num"><span class="badge-currency"
                                        id="currency">USD</span><span id="mainBalance">0.00</span></dd>
                                <dd class="wallet-exposure">Exposure <span id="mainExposure">0.00</span></dd>
                            </dl>
                        </div>
                        <div id="walletContent" class="wallet-detail-group">
                        </div>
                        <div id="walletTemp" class="wallet-detail-group" style="display: none;">
                            <dl id="tempDl" class="wallet-detail-content">
                                <dt id="vendorTitle">Housie Balance</dt>
                                <dd class="wallet-balance-num"><span class="badge-currency"
                                        id="vendorCurrency">USD</span><span id="vendorBalance">$ 0.00</span>
                                </dd>
                                <dd class="wallet-recall">
                                    <button class="btn-recall" id="recall">Recall</button>
                                </dd>
                            </dl>
                            <dl id="recallAllDl" class="wallet-detail-content">
                                <dd class="align-R">
                                    <button class="btn-recall" id="recallAll">Recall All</button>
                                </dd>
                            </dl>
                        </div>
                        <div class="btn-box">
                            <button class="btn" onclick="location.href='javascript:history.back();'">Close</button>
                        </div>
                    </div>

                    <p class="loading-bar" id="menuRefreshLoading" style="display: none;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </p>
                </a>
                <a id="menuRefresh" class="a-refresh" href="#" title="Refresh Main Wallet"><img
                        src="asstes/images/transparent.gif"></a>
            </li>


            <li class="account" ngbDropdown>
                <a id="accountPopup" style="cursor: pointer" ngbDropdownToggle>My Account</a>
                <ul  class="" aria-labelledby="accountPopup" ngbDropdownMenu>
                    <li>
                        <h4>userdemoo <span class="gmt" title="Time Zone">GMT+5:30</span></h4>
                    </li>
                    <li><a href="/exchange/member/myAccount/detail.jsp" target="_blank">My Profile</a></li>
                    <li><a href="/exchange/member/myAccount/summary.jsp" target="_blank">Balance Overview</a></li>
                    <li><a href="/exchange/member/myAccount/accountCashStatement.jsp" target="_blank">Account Statement</a></li>
                    <li><a href="/exchange/member/myAccount/current_bets.jsp" target="_blank">My Bets</a></li>
                    <li><a href="/exchange/member/myAccount/bet_history.jsp" target="_blank">Bets History</a></li>
                    <li><a href="/exchange/member/myAccount/profit_loss.jsp" target="_blank">Profit &amp; Loss</a></li>
                    <li><a href="/exchange/member/myAccount/activityLog.jsp" target="_blank">Activity Log</a></li>
                    <li class="logout"><a id="logout">LOGOUT<img src="asstes/images/transparent.gif"></a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- Menu Wrap -->
    <div class="menu-wrap">
        <div class="full-wrap">
            <ul id="tabMenu" class="menu">
                <li><a routerLink="/home" routerLinkActive="select">Home</a></li>
                <li><a routerLink="/inplay" routerLinkActive="select">In-Play</a></li>
                <li><a routerLink="/multimarket" routerLinkActive="select">Multi Markets</a></li>
                <li><a routerLink="/allsport-highlight/4" routerLinkActive="select"><span class="tag-live"><strong></strong>3</span> Cricket </a>
                </li>
                <li><a routerLink="/allsport-highlight/1" routerLinkActive="select"><span class="tag-live"><strong></strong>77</span> Soccer </a>
                </li>
                <li><a routerLink="/allsport-highlight/2" routerLinkActive="select"><span class="tag-live"><strong></strong>9</span> Tennis </a>
                </li>
                <li ui-use="sportradar_virtual_sports"> <a class=""
                        href="javascript:CommonTransferWalletHandler.openDepositPage('1', 'BetRadar', 'SPORTRADAR', '', 'SPORTRADAR_VIRTUAL_001', '', true)"
                        neua="Virtual Cricket"> Virtual Cricket </a> </li>
                <li><a routerLink="/allsport-highlight"><span class="tag-live"><strong></strong>9</span> E-Soccer </a>
                </li>
                <li><a routerLink="/allsport-highlight">Binary</a></li>
                <li ui-use="mt5"><a class=""
                        href="javascript:CommonTransferWalletHandler.openDepositPage('4', 'Sky Trader', '', '', '', '', false)"
                        neua="MT5"> Sky Trader </a> </li>
                <li><a routerLink="/horse-racing">Horse Racing</a></li>
            </ul>
            <ul class="setting-wrap">
                <li class="time_zone"><span>Time Zone :</span> GMT+5:30 </li>
                <li>&nbsp;&nbsp;&nbsp;</li>
                <li><a id="oneClickSetting" class="one_click" style="cursor: pointer;"><img
                            src="assets/images/transparent.gif">One Click Bet </a></li>
                <li><a id="slipSet" class="setting" style="cursor: pointer">Setting <img
                            src="assets/images/transparent.gif"></a></li>
            </ul>
            <div id="set_pop" class="slip_set-pop" style="display: none;">
                <div id="coinList" class="set-content">
                    <dl class="odds-set">
                        <dd class="col-defult"> <label for="defult_stake"><strong>Default stake </strong></label> <input
                                id="userCoin" class="stake-input" type="text" maxlength="7" value=""> </dd>
                    </dl>
                    <dl id="stakeSet" class="stake-set">
                        <dt>Stake </dt>
                        <dd><a id="coin_1" style="cursor:pointer;" class="btn select">4</a></dd>
                        <dd><a id="coin_2" style="cursor:pointer;" class="btn select">30</a></dd>
                        <dd><a id="coin_3" style="cursor:pointer;" class="btn select">50</a></dd>
                        <dd><a id="coin_4" style="cursor:pointer;" class="btn">100</a></dd>
                        <dd><a id="coin_5" style="cursor:pointer;" class="btn select">200</a></dd>
                        <dd><a id="coin_6" style="cursor:pointer;" class="btn">300</a></dd>
                        <dd><a id="coin_7" style="cursor:pointer;" class="btn select">500</a></dd>
                        <dd><a id="coin_8" style="cursor:pointer;" class="btn select">1000</a></dd>
                        <dd class="col-edit"><a id="edit" class="btn-edit">Edit <img
                                    src="assets/images/transparent.gif"></a></dd>
                    </dl>
                    <dl id="editCustomizeStakeList" class="stake-set" style="display: none;">
                        <dt>Stake </dt>
                        <dd><input id="stakeEdit_1" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd><input id="stakeEdit_2" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd><input id="stakeEdit_3" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd><input id="stakeEdit_4" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd><input id="stakeEdit_5" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd><input id="stakeEdit_6" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd><input id="stakeEdit_7" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd><input id="stakeEdit_8" class="stake_edit-input" type="text" value="" maxlength="7"></dd>
                        <dd class="col-edit"><a id="ok" class="btn-send">OK</a></dd>
                    </dl>
                    <dl class="odds-set">
                        <dt>Odds </dt>
                        <dd> <input id="enableSparkCheck" type="checkbox"><label for="enableSparkCheck">Highlight when
                                odds change </label> </dd>
                    </dl>
                    <dl class="odds-set">
                        <dt>FancyBet </dt>
                        <dd> <input id="fancyBetAcceptAnyOddsCheckBox" type="checkbox"><label for="fancy_odd">Accept Any
                                Odds </label> </dd>
                    </dl>
                    <dl class="odds-set">
                        <dt>Binary </dt>
                        <dd> <input id="financialAcceptAnyOddsCheckBox" type="checkbox"><label>Accept Any Price </label>
                        </dd>
                    </dl>
                    <ul class="btn-wrap">
                        <li><a id="closeSet" class="btn" style="cursor:pointer;">Cancel </a></li>
                        <li class="col-send"><a id="coinSave" class="btn-send" style="cursor:pointer;">Save </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>