<div class="overlay" style="display:block" *ngIf="showLoginPopup">
    <form [formGroup]="loginForm" method="post" role="form" (ngSubmit)="loginFormSubmit()">
        <div class="dialog-wrap-w login_to_go">
            <div class="kv"></div>
            <dl class="login-panel">
                <dt>Please login to continue</dt>
                <dd><input formControlName="email" type="text" placeholder="Username"></dd>
                <dd><input formControlName="password" type="password" placeholder="Password"></dd>
                <dd><button type="submit" class="btn-send">Login<img class="icon-login"
                            src="assets/images/transparent.gif"></button></dd>
                <dd class="error" *ngIf="isSubmitted && formSubmitError != null">{{formSubmitError}}</dd>
            </dl>
            <a style="cursor: pointer" class="close" (click)="setLoginPopup(false)"></a>
        </div>
    </form>
</div>
<div class="top">
    <div class="header full-wrap">
        <h1><a href="/">SKYEXCHANGE </a></h1>
        <div id="searchWrap" class="search-wrap" style="">
            <div> <input id="searchInput" class="search-input" type="text" placeholder="Search Events"
                    fdprocessedid="lh2j8"> <button id="searchClear" class="search-clear"
                    style="display: none;"></button> </div>
            <div id="searchResult" class="suggestion-wrap" style="display: none;">
                <ul id="searchList">
                    <li id="noMatching" style="display: none;">
                        <p class="no-matching">No events found matching ...</p>
                    </li>
                    <li id="resultTemplate" style="display: none;"><a></a></li>
                </ul>
            </div>
        </div>
        <form [formGroup]="loginForm" *ngIf="!isLoginUser" method="post" role="form" (ngSubmit)="loginFormSubmit()">
            <ul class="login-wrap">
                <li><input formControlName="email" placeholder="Username" type="text" placeholder="Username">
                </li>
                <li><input formControlName="password" placeholder="Password" type="password" placeholder="Password">
                </li>
                <!-- <li class="valid-code" style="display: block"> <input id="validCode" type="text"
                        placeholder="Validation" maxlength="4" fdprocessedid="nk3uz"> <img id="authenticateImage"
                        src="https://bxawscf.skyexch.bike/verifycode.gr?v=1678553277974"> </li> -->
                <!-- <li><input id="valid" name="valid" type="hidden" value="4934786d-0ae4-4860-9843-d6fdca23b082"></li> -->
                <li> <button type="submit" class="btn-login">Login
                        <img class="icon-login" src="assets/images/transparent.gif?v=1678553205059">
                    </button> </li>
                <!-- <li><a class="btn-signup"
                        onclick="window.open('https://wa.link/skyexch', '_blank', config='height=850,width=1200,location=no');">Sign
                        up</a></li> -->
                <li id="errorMsg" class="error" style="padding-left: 0px;"><span class="err-invalid"
                        *ngIf="isSubmitted && formSubmitError != null">
                        <span>{{formSubmitError}}</span></span></li>
            </ul>
        </form>
        <ul class="account-wrap" *ngIf="isLoginUser">
            <li class="main-wallet">
                <a id="multiWallet" href="#multiBalancePop" class="a-wallet">
                    <ul id="accountCredit">
                        <li><span>Main Balance</span> <span id="betCredit">PTH 0.00</span></li>
                        <li><span>Exposure</span> <span id="totalExposure">0.00</span></li>
                        <li class="nums">+<span id="vendorQuantity">5</span></li>
                    </ul>
                    <!-- show wallet-->
                    <div class="wallet-detail" id="multiBalancePop">
                        <div class="wallet-detail-group">
                            <dl class="wallet-detail-content">
                                <dt>Main Balance</dt>
                                <dd class="wallet-balance-num"><span class="badge-currency"
                                        id="currency">USD</span><span id="mainBalance">0.00</span></dd>
                                <dd class="wallet-exposure">Exposure <span id="mainExposure">0.00</span></dd>
                            </dl>
                        </div>
                        <div id="walletContent" class="wallet-detail-group">
                        </div>
                        <div id="walletTemp" class="wallet-detail-group" style="display: none;">
                            <dl id="tempDl" class="wallet-detail-content">
                                <dt id="vendorTitle">Housie Balance</dt>
                                <dd class="wallet-balance-num"><span class="badge-currency"
                                        id="vendorCurrency">USD</span><span id="vendorBalance">$ 0.00</span>
                                </dd>
                                <dd class="wallet-recall">
                                    <button class="btn-recall" id="recall">Recall</button>
                                </dd>
                            </dl>
                            <dl id="recallAllDl" class="wallet-detail-content">
                                <dd class="align-R">
                                    <button class="btn-recall" id="recallAll">Recall All</button>
                                </dd>
                            </dl>
                        </div>
                        <div class="btn-box">
                            <button class="btn" onclick="location.href='javascript:history.back();'">Close</button>
                        </div>
                    </div>

                    <p class="loading-bar" id="menuRefreshLoading" style="display: none;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </p>
                </a>
                <a id="menuRefresh" class="a-refresh" href="#" title="Refresh Main Wallet"><img
                        src="asstes/images/transparent.gif"></a>
            </li>


            <li class="account" ngbDropdown>
                <a id="accountPopup" style="cursor: pointer" ngbDropdownToggle>My Account</a>
                <ul class="" aria-labelledby="accountPopup" ngbDropdownMenu>
                    <li>
                        <h4>userdemoo <span class="gmt" title="Time Zone">{{gmtTimeZone}}</span></h4>
                    </li>
                    <li><a ngbDropdownItem [routerLink]="['/account/my-profile']">My Profile</a></li>
                    <li><a ngbDropdownItem [routerLink]="['/myprofile']">Balance Overview</a></li>
                    <li><a ngbDropdownItem [routerLink]="['/account/account-statement']">Account Statement</a></li>
                    <li><a ngbDropdownItem [routerLink]="['/myprofile']">My Bets</a></li>
                    <li><a ngbDropdownItem [routerLink]="['/myprofile']">Bets History</a></li>
                    <li><a ngbDropdownItem [routerLink]="['/account/profit-loss']">Profit &amp; Loss</a></li>
                    <li><a ngbDropdownItem [routerLink]="['/account/activity-log']">Activity Log</a></li>
                    <li class="logout"><a (click)="userLogout()">LOGOUT<img src="asstes/images/transparent.gif"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div> <!-- Menu Wrap -->
    <div class="menu-wrap">
        <div class="full-wrap">
            <ul id="tabMenu" class="menu">
                <li><a routerLink="/home" routerLinkActive="select">Home</a></li>
                <li><a routerLink="/inplay" routerLinkActive="select">In-Play</a></li>
                <li><a routerLink="/multimarket" routerLinkActive="select">Multi Markets</a></li>
                <li><a routerLink="/allsport-highlight/4" routerLinkActive="select">Cricket</a></li>
                <li><a routerLink="/allsport-highlight/1" routerLinkActive="select">Soccer</a></li>
                <li><a routerLink="/allsport-highlight/2" routerLinkActive="select">Tennis</a></li>
                <!-- <li ui-use="sportradar_virtual_sports"> <a class=""
                        href="javascript:CommonTransferWalletHandler.openDepositPage('1', 'BetRadar', 'SPORTRADAR', '', 'SPORTRADAR_VIRTUAL_001', '', true)"
                        neua="Virtual Cricket"> Virtual Cricket </a> </li>
                <li><a routerLink="/allsport-highlight"><span class="tag-live"><strong></strong>9</span> E-Soccer </a>
                </li>
                <li><a routerLink="/allsport-highlight">Binary</a></li>
                <li ui-use="mt5"><a class=""
                        href="javascript:CommonTransferWalletHandler.openDepositPage('4', 'Sky Trader', '', '', '', '', false)"
                        neua="MT5"> Sky Trader </a> </li>
                <li><a routerLink="/horse-racing">Horse Racing</a></li> -->
            </ul>
            <ul class="setting-wrap">
                <li class="time_zone"><span>Time Zone :</span> {{gmtTimeZone}} </li>
                <!-- <li>&nbsp;&nbsp;&nbsp;</li>
                <li><a id="oneClickSetting" class="one_click" style="cursor: pointer;"><img
                            src="assets/images/transparent.gif">One Click Bet </a></li>-->
                <li ngbDropdown>
                    <a class="setting" (click)="setLoginPopup()" *ngIf="!isLoginUser">Setting <img
                            src="assets/images/transparent.gif"></a>
                    <a class="setting" *ngIf="isLoginUser" ngbDropdownToggle>Setting <img
                            src="assets/images/transparent.gif"></a>
                    <div class="slip_set-pop" ngbDropdownMenu>
                        <div class="set-content">
                            <form [formGroup]="stackForm" (ngSubmit)="stackSubmit()">
                                <dl class="odds-set">
                                    <dd class="col-defult">
                                        <label for="defult_stake"><strong>Default stake </strong></label>
                                        <input class="stake-input" type="text" maxlength="7" value="">
                                    </dd>
                                </dl>
                                <dl class="stake-set" *ngIf="isStackEdit==false && stackLimitList && stackLimitList.length > 0">
                                    <dt>Stake </dt>
                                    <dd *ngFor="let stack of stackLimitList"><a class="btn select">{{stack.stakeLimitPrice}}</a></dd>
                                    <dd class="col-edit">
                                        <a class="btn-edit" (click)="isStackEdit=true">Edit <img src="assets/images/transparent.gif"></a>
                                    </dd>
                                </dl>
                                <dl class="stake-set" formArrayName="stackList" *ngIf="isStackEdit==true">
                                    <dt>Stake </dt>
                                    <dd *ngFor="let stackGroup of stackList.controls; let i = index">
                                        <ng-container [formGroupName]="i">
                                            <input formControlName="id" type="hidden">
                                            <input formControlName="stakeLimitPrice" class="stake_edit-input"
                                                type="number" min="1" maxlength="7">
                                        </ng-container>
                                    </dd>
                                    <dd class="col-edit"><button type="submit" style="padding: 0 10px;" class="btn-send">OK</button></dd>
                                </dl>
                                <ul class="btn-wrap"
                                    style="position: relative; display: flex; border: none; background: none;">
                                    <li style="border: none;" (click)="isStackEdit=false" ngbDropdownToggle><a class="btn">Cancel</a></li>
                                    <!-- <li style="border: none;" class="col-send"><a class="btn-send">Save</a></li> -->
                                </ul>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>