<div class="mobile-display-view">
    <div class="sport-img mb-21234" style="position: relative;">
        <app-slider></app-slider>
    </div>
</div>
<div class="mobile-display-view">
    <div class="game-highlight-wrap">
        <h3>Highlights</h3>
        <div class="tab-content">
            <div class="game-menu-tab hidden-xs homeevent tab-container">
                <div class="row">
                    <div class="col-md-12 text-center p-2" *ngIf="eventList==null">Loading...</div>
                    <div class="col-md-12 mobile-width" *ngIf="eventList">
                        <table class="table table-hover">
                            <app-table-row [tableRowList]="eventList" [multiMarketPin]="true" class="d-table w-100">
                            </app-table-row>
                            <tbody *ngIf="eventList.length === 0">
                                <tr>
                                    <td colspan="6">There are no events to be displayed.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>