<div class="animated fadeIn divider-top">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card-report card-accent-primary">
                <form [formGroup]="betHistoryForm" (ngSubmit)="getBetHistory()">
                    <div class="card-body row p-0">
                        <div class="col-md-6 row">
                            <div class="col-md-8 col-8">
                                <div class="form-group">
                                    <div class="mydp" style="width: 100%;">
                                        <div class="selectiongroup">
                                            <input class="selection" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                                #dateTime1="ngbDatepicker" formControlName="startDate"
                                                style="height: 34px;" [maxDate]="maxDate" readonly>
                                            <div class="selbtngroup" style="height: 34px;">
                                                <button class="btnpicker btnpickerenabled" (click)="dateTime1.toggle()"
                                                    type="button"><span
                                                        class="mydpicon icon-mydpcalendar"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="form-group"><input class="form-control" maxlength="5"
                                        formControlName="starttime" type="text" [ngModel]="'01:00'" readonly></div>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="col-md-1 p-0">
                                <div class="form-group text-center"><span class="lbl-to"> TO</span></div>
                            </div>
                            <div class="col-md-7 col-8">
                                <div class="form-group">
                                    <div class="mydp" style="width: 100%;">
                                        <div class="selectiongroup">
                                            <input class="selection" placeholder="yyyy-mm-dd" formControlName="endDate"
                                                ngbDatepicker #dateTime2="ngbDatepicker" style="height: 34px;"
                                                [maxDate]="maxDate" readonly>
                                            <div class="selbtngroup" style="height: 34px;">
                                                <button class="btnpicker btnpickerenabled" (click)="dateTime2.toggle()"
                                                    type="button"><span
                                                        class="mydpicon icon-mydpcalendar"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="form-group"><input class="form-control" maxlength="5"
                                        formControlName="endTime" type="text" [ngModel]="'23:00'" readonly></div>
                            </div>
                        </div>
                        <div class="col-md-12 betHistory">
                            <div class="row">
                                <div class="col-md-12 row">
                                    <div class="col-md-3 col-6">
                                        <div class="form-group"><select class="form-control" formControlName="sportId">
                                                <option value="">Select Sport</option>
                                                <option value="555">Manual Odds</option>
                                                <option value="666">Fancy</option>
                                                <option value="777">Sportbook</option>
                                                <option value="4">Cricket </option>
                                                <option value="2">Tennis </option>
                                                <option value="1">Soccer </option>
                                                <option value="6">Casino </option>
                                                <option value="5">Lottery </option>
                                                <option value="11">Horse Racing </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="form-group"><select class="form-control"
                                                formControlName="isSettlement">
                                                <option value="">Select Type</option>
                                                <option value="1">Settle</option>
                                                <option value="2">Unsettle</option>
                                                <option value="888">Void</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <button class="btn btn-primary" type="button"
                                            (click)="getTodayHistory()"><strong> Just For Today</strong></button>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <button class="btn btn-primary" type="submit"><strong>Get
                                                History</strong></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 p-mobile-0">
            <div class="card card-accent-primary">
                <div class="card-header account-detail-head"> Bet History </div>
                <div class="card-body account-stat-body">
                    <div class="row">
                        <div class="col-md-12 p-mobile-0">
                            <div class="table-responsive">
                                <div class="dataTables_length"><label>Show 
                                    <select name="DataTables_Table_0_length" (change)="resetData()" [(ngModel)]="count">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries</label>
                                </div>
                                <table class="table table-bordered dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th scope="col">Bet ID</th>
                                            <th scope="col">Event </th>
                                            <th scope="col">Market</th>
                                            <th scope="col">Selection</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Odds Req.</th>
                                            <th scope="col">Stake</th>
                                            <th scope="col">Place Time</th>
                                            <th scope="col">Matched Time</th>
                                            <th scope="col">Settle Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="betDataList">
                                            <tr *ngFor="let betData of betDataList | paginate: { itemsPerPage: count, currentPage: p }">
                                                <td>{{betData.betId}}</td>
                                                <td>{{betData.event}}</td>
                                                <td>{{betData.market}}</td>
                                                <td>{{betData.selection}}</td>
                                                <td>{{betData.type}}</td>
                                                <td>{{betData.oddsRequest}}</td>
                                                <td>{{betData.amountStake}}</td>
                                                <td>{{betData.placeTime | date:'medium' }}</td>
                                                <td>{{betData.matchedTime | date:'medium' }}</td>
                                                <td>{{betData.updatedDate | date:'medium' }}</td>
                                            </tr>
                                            <tr *ngIf="betDataList.length === 0">
                                                <td colspan="10" class="text-center">No Record Found.</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                                <div class="dataTables_paginate paging_full_numbers float-none text-center">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>