<div class="support-wrap extend-support">
        <div class="extend-btn">
                <img src="assets/images/mobile/transparent.gif" title="customer"
                        class="support-customer">
                <a target="_blank">Customer support1</a>
                <a target="_blank" class="split-line">support2</a>
        </div>
        <div class="extend-btn">
                <img src="assets/images/mobile/transparent.gif" title="WhatsApp"
                        class="support-whatsapp">
                <a target="_blank">what's app 3</a>
                <a target="_blank" class="split-line">what's app 4</a>
        </div>
        <div class="extend-btn"></div>
        <div class="support-social">
                <div class="social-btn">
                        <img src="assets/images/mobile/transparent.gif" title="Skype"
                                class="support-skype">
                        <a target="_blank">Skype</a>
                </div>
                <div class="social-btn">
                        <img src="assets/images/mobile/transparent.gif" title="Email"
                                class="support-mail">
                        <a target="_blank">Email</a>

                </div>
                <div class="social-btn">
                        <img src="assets/images/mobile/transparent.gif" title="Instagram"
                                class="support-ig">
                        <a target="_blank" class="ui-link">Instagram</a>
                </div>
        </div>
</div>
<ul class="policy-link">
        <li><a>Privacy Policy</a></li>
        <li><a>Terms and Conditions</a></li>
        <li><a>Rules and Regulations</a></li>
        <li><a>KYC</a></li>
        <li><a>Responsible Gaming</a></li>
        <li><a>About Us</a></li>
        <li><a>Self-Exclusion Policy</a></li>
        <li><a>Underage Policy</a></li>
</ul>
<div class="extra-wrap">
        <div class="power-wrap-b">
                <span>Powered by</span><img src="assets/images/mobile/transparent.gif">
        </div>
        <div class="appdl-link-ios" style="display:block;">
                <a target="_blank" href="/exchange/mobile/member/downloadApp.jsp">
                        <img src="assets/images/mobile/login/btn-appdl-ios.png" alt="">
                </a>
                <p>v1.00 - 2019-04-10 - 0.4MB</p>
        </div>
</div>