<ul class="slip-head">
    <li class="col-game"></li>
    <li class="col-matched">Matched</li>
    <li class="col-visit web-display">1</li>
    <li class="col-draw">x</li>
    <li class="col-home web-display">2</li>
    <li class="col-info"></li>
</ul>
<div class="game-list">
    <dl class="game-list-col" *ngFor="let tableColumn of tableRowList" style="display: flex;">
        <dt style="cursor: pointer">
            <img class="icon-in_play" src="asstes/images/transparent.gif">
            <span class="game-low_liq" style="display: none;">Low Liquidity</span>
            <a [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.eventName.split("/")[0]}}</a>
            <span class="game-list-time" *ngIf="tableColumn.inPlay=='True'"><span class="in_play">In-Play</span></span>
        </dt>
        <dd class="col-matched"></dd>
        <dd class="col-visit web-display">
            <div class="suspend" *ngIf="tableColumn.disableMatch=='True'"><span>Suspend</span></div>
            <a class="btn-back" [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.back11}}</a>
            <a class="btn-lay" [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.lay11}}</a>
        </dd>
        <dd class="col-draw">
            <div class="suspend" *ngIf="tableColumn.disableMatch=='True'"><span>Suspend</span></div>
            <a class="btn-back" [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.back1}}</a>
            <a class="btn-lay" [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.lay1}}</a>
        </dd>
        <dd class="col-home web-display">
            <div class="suspend" *ngIf="tableColumn.disableMatch=='True'"><span>Suspend</span></div>
            <a class="btn-back" [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.back12}}</a>
            <a class="btn-lay" [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.lay12}}</a>
        </dd>
        <dd class="col-info">
            <a class="add-pin" style="cursor: pointer" title="Add to Multi Markets" [ngClass]="{'pin-on': tableColumn.isPinnedMatch == true }" (click)="setPinData(tableColumn.marketId, !tableColumn.isPinnedMatch)" *ngIf="multiMarketPin==true">Pin</a>
        </dd>
    </dl>
</div>