<ul class="slip-head">
    <li class="col-game"></li>
    <li class="col-matched">Matched</li>
    <li class="col-visit">1</li>
    <li class="col-draw">x</li>
    <li class="col-home">2</li>
    <li class="col-info"></li>
</ul>
<div class="game-list">
    <dl class="game-list-col" *ngFor="let tableColumn of tableRowList" style="display: flex;">
        <dt style="cursor: pointer">
            <img class="icon-in_play" src="asstes/images/transparent.gif">
            <span class="game-low_liq" style="display: none;">Low Liquidity</span>
            <a [routerLink]="['/fullmarket', tableColumn.marketId, tableColumn.gameId, tableColumn.eid]">{{tableColumn.eventName.split("/")[0]}}</a>
            <span class="game-list-time" *ngIf="tableColumn.inPlay=='True'"><span class="in_play">In-Play</span></span>
            <span class="game-live">Live</span>
            <span class="game-E"><i></i>Soccer</span>
            <span class="game-E"><i></i>e-Soccer</span>
            <span class="game-E"><i></i>Cricket</span>
            <span class="game-E"><i></i>Tennis</span>
            <span class="game-fancy in-play" *ngIf="tableColumn.f=='True'" style="cursor: pointer; display: inline-flex;">Fancy</span>
            <span class="game-bookmaker in-play"
                style="cursor: pointer; display: inline-flex;">BookMaker</span><!-- icon for fancy bet -->
            <span class="game-sportsbook">Sportsbook</span>
            <span class="game-sportsbook">Premium Tennis</span>
            <span class="game-sportsbook" style="display: inline-flex;">Premium
                Cricket</span>
        </dt>
        <dd class="col-matched">PTH338,892K</dd>
        <dd class="col-visit">
            <div class="suspend" *ngIf="tableColumn.disableMatch=='True'"><span>Suspend</span></div>
            <a class="btn-back">{{tableColumn.back11}}</a>
            <a class="btn-lay">{{tableColumn.lay11}}</a>
        </dd>
        <dd class="col-draw">
            <div class="suspend" *ngIf="tableColumn.disableMatch=='True'"><span>Suspend</span></div>
            <a class="btn-back">{{tableColumn.back1}}</a>
            <a class="btn-lay">{{tableColumn.lay1}}</a>
        </dd>
        <dd class="col-home">
            <div class="suspend" *ngIf="tableColumn.disableMatch=='True'"><span>Suspend</span></div>
            <a class="btn-back">{{tableColumn.back12}}</a>
            <a class="btn-lay">{{tableColumn.lay12}}</a>
        </dd>
        <dd class="col-info">
            <a class="add-pin" style="cursor: pointer" title="Add to Multi Markets">Pin</a>
        </dd>
    </dl>
</div>