<nav>
    <ul class="mini-lobby">
        <li class="main-nav">
            <a class="ui-link">
                <img class="icon-promote" src="assets/images/mobile/minigame-promo/promot.gif" alt="mini">
            </a>
        </li>
        <li>
            <a title="Sports" class="ui-link" routerLink="/allsport-highlight/4">
                <img class="icon-sports" src="assets/images/mobile/transparent.gif">Sports
            </a>
        </li>
        <li>
            <a title="In-Play" class="ui-link" routerLink="/inplay">
                <img class="icon-inplay" src="assets/images/mobile/transparent.gif">In-Play
            </a>
        </li>
        <li>
            <a title="Home" class="ui-link" routerLink="/home">
                <img class="icon-home" src="assets/images/mobile/transparent.gif">Home
            </a>
        </li>
        <li>
            <a title="Multi Markets" class="ui-link" routerLink="/multimarket">
                <img class="icon-pin" src="assets/images/mobile/transparent.gif">Multi Markets
            </a>
        </li>
        <li>
            <a class="ui-link" routerLink="/account">
                <img class="icon-account" src="assets/images/mobile/transparent.gif">Account
            </a>
        </li>
    </ul>
</nav>