<div class="marquee-box" style="display: flex">
    <h4>News</h4>
    <div class="marquee">
        <div style="width: 100000px; transform: translateX(1019px); animation: 194.858s linear 0s infinite normal none running marqueeAnimation-8275133;"
            class="js-marquee-wrapper">
            <div class="js-marquee" style="margin-right: 0px; float: left;">
                <a><span>12 Mar 2023</span>Event : NewZealand v Sri Lanka.... Market : 80 Over SL (2) '192-193' (IST
                    06:58:54 - 06:59:05) Bets VoidedBecause of Wrong Commentary.... Sorry for the
                    Inconvenience&nbsp;Caused</a>

                <a><span>12 Mar 2023</span>Event : New Zealand v Sri Lanka.... Market : 15 Over NZ (2) 24-25 (IST
                    10:49:50 -10:51:31) Bets Voided Because 14.2nd Ball (No Ball Shown Late In TV)... Sorry for
                    theInconvenience&nbsp;Caused</a>

                <a><span>12 Mar 2023</span>Event : India v Australia .... Market :130 Over IND '357-358' (IST 11:18:07 -
                    11:18:12) Bets Voided Because of Wrong Rate Offered ByMistake .... Sorry for the
                    Inconvenience&nbsp;Caused</a>

                <a><span>12 Mar 2023</span>Event : Indiav Australia .... Market : 135 Over IND '385.85.115' (IST
                    12:22:26 - 12:22:56) &amp; '386.85.115'(IST 12:23:18 - 12:23:32) Bets Voided Because 133.5th Ball
                    (No Ball Shown Late In TV)... Sorryfor the Inconvenience&nbsp;Caused</a>

                <a><span>12 Mar 2023</span>Event :- Nepal v UAE .. Market:- Bookmaker .. Selection :- Nepal ' 5-9 ' (
                    IST 12:57:57 Around ) .. Bets Voided Because WongOdds Offered By Mistake .. Sorry for the
                    Inconvenience Caused</a>

                <a><span>12 Mar 2023</span>Event :- Bangladesh v England ... Market :- J Buttler Runs , J Buttler Run
                    Bhav ,J Buttler Boundaries &amp; H.M.B Face By J Buttler ... Whole Market Voided Because he
                    didn'tcame for Opening, So we have created a new Market by adding (N) after the Market Name ...
                    Sorryfor the Inconvenience Caused</a>

                <a><span>12 Mar 2023</span>Event : India v Australia .... Market: 171st Over Runs Only IND '2-3' (IST
                    15:35:59 - 15:37:07) Bets Voided Because of Wrong RateOffered By Mistake .... Sorry for the
                    Inconvenience&nbsp;Caused</a>

                <a><span>12 Mar 2023</span>Event :- Bangladesh v England ... Market :- 19.6 Ball Run ENG ' 119 - 120 ' (
                    IST16:07:21 - 16:07:40 ) ... Bets Voided Because Wrong Rate Offered Bymistake ... Sorry for
                    theInconvenience&nbsp;Caused</a>
            </div>
        </div>
    </div>
</div>