<ng-container *ngFor="let matchOdds of matchOddsData">
    <div class="market-type ps ps--theme_default">
        <ul id="naviMarketList">
            <li style="display: list-item;" class="select"><a>{{matchOdds?.marketName}}</a></li>
        </ul>
    </div>
    <div class="bets-wrap asiahadicap">
        <a class="bet-limit"></a>
        <dl class="bets-selections-head">
            <dt>
                <a class="a-depth" href="#">Markets Depth</a>
                <p>
                    <span>Matched</span>
                    <strong id="totalMatched">PTH 0</strong>
                </p>
            </dt>
            <dd class="mode-land"></dd>
            <dd class="mode-land"></dd>
            <dd>Back</dd>
            <dd>Lay</dd>
            <dd class="mode-land"></dd>
            <dd class="mode-land"></dd>
        </dl>
    </div>
    <div id="bookMakerWrap">

        <div class="bets-wrap bets-bookmaker" style="background-color: #ffffff;">
            <ng-container *ngFor="let matchOddsPrice of matchOdds.oddsData.runners; let i = index">
                <dl class="bets-selections" style="display: flex;">
                    <dt>
                        <h4>{{matchOddsPrice.runnerName}}</h4>
                        <ul>
                        <li style="display:flex;" *ngIf="BidData && BidData.length > 0"
                            [ngClass]="{'to-lose' : BidData[i][matchOddsPrice.selectionId] < 0, 'to-win' : BidData[i][matchOddsPrice.selectionId] > 0 }">
                            {{BidData[i][matchOddsPrice.selectionId]}}
                            <span style="margin-left: 3px;"
                                *ngIf="oddBook == true"
                                [ngClass]="{'to-win': BidDataNew[i][matchOddsPrice.selectionId] > 0, 'to-lose': BidDataNew[i][matchOddsPrice.selectionId] <= 0 }">
                                ({{BidDataNew[i][matchOddsPrice.selectionId]}})
                            </span>
                        </li>
                    </ul>
                        <!-- <ul>
                            <li class="to-lose"
                                [ngClass]="{'to-lose':setBetData?.type =='lay','to-win':setBetData?.type =='back'}"
                                *ngIf="setBetData?.sportId && selectionId == matchOddsPrice.selectionId"> {{ stackValue
                                *
                                oddValue - stackValue |
                                number : '1.2-2'}}</li>
                            <li class="to-lose"
                                [ngClass]="{'to-lose':setBetData?.type !='lay','to-win':setBetData?.type !='back'}"
                                *ngIf="setBetData?.sportId && selectionId != matchOddsPrice.selectionId"> {{ stackValue
                                |
                                number : '1.2-2'}}</li>
                        </ul> -->
                    </dt>
                    <!-- <dd class="">
                    <p id="info">Suspend</p>
                </dd> -->
                    <dd class="backlay_box">
                        <dl class="back-gradient">
                            <dd *ngFor="let backPrice of matchOddsPrice.price.back; let i = index"
                                [ngClass]="{'mode-land':i!=1, 'select': selectionId == matchOddsPrice.selectionId && betType == 0}">
                                <a *ngIf="i == 1"
                                    (click)="setBetPrice(matchOdds.exEventId, matchOdds.eventName, matchOdds.marketId, matchOdds.marketName, matchOddsPrice.runnerName, matchOddsPrice.selectionId, 0, backPrice.price, 0, 0)">{{
                                    backPrice.price |
                                    thousandSuffixes : 2}}</a>
                            </dd>
                        </dl>
                        <dl class="lay-gradient">
                            <dd *ngFor="let layPrice of matchOddsPrice.price.lay;  let i = index"
                                [ngClass]="{'mode-land':i!=1, 'select': selectionId == matchOddsPrice.selectionId && betType == 1}">
                                <a *ngIf="i == 1"
                                    (click)="setBetPrice(matchOdds.exEventId, matchOdds.eventName, matchOdds.marketId, matchOdds.marketName, matchOddsPrice.runnerName, matchOddsPrice.selectionId, 1, layPrice.price, 0, 1);">{{
                                    layPrice.price |
                                    thousandSuffixes : 2}}</a>
                            </dd>
                        </dl>
                    </dd>
                </dl>
                <app-aside *ngIf="selectionId == matchOddsPrice.selectionId && setBetData?.sportId"></app-aside>
            </ng-container>
        </div>
    </div>
</ng-container>