<app-profile-sidebar></app-profile-sidebar>
<div class="col-center report">
    <h2>Summary
    </h2> <!-- Balance -->
    <div class="white-wrap">
        <dl class="head-balance">
            <dt>Your Balances
            </dt>
            <dd id="summaryTotalBalance">0.00 <span>PTH</span></dd>
        </dl>
        <h3>Welcome,
        </h3>
        <p>View your account details here. You can manage funds, review and change your settings and see the performance
            of your betting activity.
        </p>
    </div> <!-- Report Table -->
    <table class="table01">
        <tbody>
            <tr>
                <th width="13%" class="align-L">Date
                </th>
                <th width="13%">Transaction №
                </th>
                <th width="13%">Debits
                </th>
                <th width="13%">Credits
                </th>
                <th width="13%">Balance
                </th>
                <th width="14%">Remarks
                </th>
                <th>From/To
                </th>
            </tr>
            <tr id="dataTemplate" style="display: none">
                <td id="date" class="align-L"></td>
                <td id="statementSerial"></td>
                <td id="debits"></td>
                <td id="credits"></td>
                <td id="balance"></td>
                <td id="remarks"></td>
                <td id="fromTo"><img class="fromto" src="asstes/images/transparent.gif"></td>
            </tr>
        </tbody>
        <tbody id="content"></tbody>
    </table> <!-- Pages List -->
    <script type="text/javascript" src="/js/util/PageUtil.js?v=20230310_1678444800000"></script>
    <div>
        <ul style="display: none">
            <li id="prev"><a href="javascript:void(0);">Prev
                </a></li>
            <li id="next"><a href="javascript:void(0);">Next
                </a></li>
            <li id="pageNumber"><a href="javascript:void(0);"></a></li>
            <li id="more"><a href="javascript:void(0);">...</a></li>
            <input type="text" id="goToPageNumber" onkeyup="return PageHandler.validatePageNumber(this)" maxlength="6"
                size="4">
            <li><a id="goPageBtn">GO</a></li>
        </ul>
        <ul id="pageNumberContent" class="pages"></ul>
    </div>
</div>