<div class="card" style="border: none; margin-top: 38px;padding: 0; background: none;height: 5px;">
    <div class="p-rltv">
        <div class="fancy-head" id="fancyBetHeadNew">
            <h4 class="in-play"><span id="headerName">Fancy
                    Bet</span><a class="btn-fancybet_rules"></a></h4>
            <h4 class="in-play-sportbook"><span id="headerName">Sportsbook</span><a class="btn-sportsbook_rules"></a>
            </h4>
        </div>

        <div class="fancy_bet_tab-wrap fancy_bet_back" id="fancyBetTabWrap">
            <ul class="special_bets-tab">
                <li class="select"><a>All</a></li>
                <li><a>Fancy</a></li>

                <li><a>Line Market</a></li>

                <li><a>Ball by Ball</a></li>

                <li><a>Meter <span class="hidden-xs">Market</span></a></li>

                <li><a>Khado <span class="hidden-xs">Market</span></a></li>
            </ul>
        </div>

    </div>
</div>

<div class="card mb-1 fancy-card" style="">
    <div class="card-header card-accrdn card-fancybet"></div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover tbl-bets fancy-bet p-rltv">
                <thead>
                    <th class="minwidth" colspan="2">
                        <marquee class="pull-right fancy-marquee" direction="scroll">
                            <strong></strong>
                        </marquee>
                    </th>
                    <th class="lay-1">No</th>
                    <th class="back-1">Yes</th>
                    <th class="hidden-xs">Min/Max</th>
                </thead>
                <tbody>
                    <tr class="odd-row 101202222741025">
                        <td class="team-name valign-middle"><a class="title">K Verreynne Runs (2)
                            </a>

                            <span class="minus-book"><i class="fa fa-arrow-right"></i> 0.00</span>
                        </td>
                        <td class="valign-middle mbl-book" style="position: relative;">
                            <button class="book-btn btn btn-primary ">Book</button><a class="btn-fancy_info"></a>
                            <div id="fancy_popup2" class="fancy_info-popup 101202222741025">
                                <dl>
                                    <dt>Min / Max</dt>
                                    <dd id="minMax">100-50000 </dd>
                                </dl><a class="close" id="close-fancy_info">Close</a>
                            </div>
                        </td>
                        <td id="fancy101202222741025" class="lay-1 count 101202222741025">
                            <a>40 <span>110</span></a>

                        </td>
                        <td id="fancy101202222741025" class="back-1 count p-rltv 101202222741025">


                            <div class="spnd-fncy"><span class="stats-text">Suspended</span></div>


                            <a>40 <span>90</span></a>

                        </td>
                        <td class="min-max hidden-xs"> 100-50000</td>
                    </tr>
                    <tr class="odd-row 101202222744033">
                        <td class="team-name valign-middle"><a class="title">Fall of 6th WKT SA (2)
                            </a>

                            <span class="minus-book"><i class="fa fa-arrow-right"></i> 0.00</span>
                        </td>
                        <td class="valign-middle mbl-book" style="position: relative;">
                            <button class="book-btn btn btn-primary ">Book</button><a class="btn-fancy_info"></a>
                            <div id="fancy_popup2" class="fancy_info-popup 101202222744033">
                                <dl>
                                    <dt>Min / Max</dt>
                                    <dd id="minMax">100-100000 </dd>
                                </dl><a class="close" id="close-fancy_info">Close</a>
                            </div>
                        </td>
                        <td id="fancy101202222744033" class="lay-1 count 101202222744033">
                            <a>158 <span>110</span></a>

                        </td>
                        <td id="fancy101202222744033" class="back-1 count p-rltv 101202222744033">


                            <div class="spnd-fncy"><span class="stats-text">Suspended</span></div>


                            <a>158 <span>90</span></a>

                        </td>
                        <td class="min-max hidden-xs"> 100-100000</td>
                    </tr>
                    <tr class="fancy-quick-tr  101202222744033">
                        <td colspan="7">
                            <dl class="quick_bet-wrap" id="classWrap">
                                <dt class="" id="fancyBetHeader"><span class="bet-check"
                                        id="fancyBetAcceptCheck"></span></dt>
                                <dd class="col-btn"><a class="btn" id="cancel" style="cursor:pointer;">Cancel</a>
                                </dd>
                                <dd class="col-odd" id="oddsHeader">
                                    <ul class="quick-bet-confirm">
                                        <li id="runs"></li>
                                        <li class="quick-bet-confirm-title" id="odds">
                                        </li>
                                    </ul>
                                </dd>
                                <dd class="col-stake"><a class="icon-minus show-xs" id="stakeDown"></a><input
                                        type="number" class="ng-untouched ng-pristine ng-valid"><a
                                        class="icon-plus show-xs" id="stakeUp"></a></dd>
                                <dd class="col-send"><button class="btn-send disable" id="placeBet"
                                        style="cursor:pointer;">Place
                                        Bets</button></dd>
                                <dd class="col-stake_list" id="stakePopupList" style="display: block;">
                                    <ul>

                                        <li><a class="btn" style="cursor:pointer;">1000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">5000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">10000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">25000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">50000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">100000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">200000</a></li>
                                        <li><a class="btn" style="cursor:pointer;">500000</a></li>
                                    </ul>
                                </dd>
                                <div class="show-xs betmobile-btn">
                                    <dd class="col-btn"><a class="btn" id="cancel" style="cursor:pointer;">Cancel</a>
                                    </dd>
                                    <dd class="col-send"><button class="btn-send disable" id="placeBet"
                                            style="cursor:pointer;">Place
                                            Bets</button></dd>
                                </div>
                            </dl>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>