<app-profile-sidebar></app-profile-sidebar>
<div class="col-center report">
   
    <h2>Account Details
    </h2>

    <div class="event-left">
        <div class="profile-wrap">
            <h3>About You
            </h3>
            <dl>
                <dt>First Name
                </dt>
                <dd>null
                </dd>

                <dt>Last Name
                </dt>
                <dd>
                </dd>

                <dt>Birthday
                </dt>
                <dd>

                    --
                </dd>

                <dt>E-mail
                </dt>
                <dd>Abcd@gmail.com
                </dd>
                <dt>Password
                </dt>
                <dd>********************************

                    <a href="#" class="favor-set" onclick="ChangePasswordHandler.showDialog()">Edit
                    </a>

                </dd>
            </dl>
        </div>

        <div class="profile-wrap">
            <h3>Address
            </h3>
            <dl>
                <dt>Address
                </dt>
                <dd>--</dd>

                <dt>Town/City
                </dt>
                <dd>--</dd>

                <dt>Country
                </dt>
                <dd>--</dd>

                <dt>Country/State
                </dt>
                <dd>--</dd>

                <dt>Postcode
                </dt>
                <dd>--</dd>

                <dt>Timezone
                </dt>
                <dd>IST
                </dd>
            </dl>
        </div>
    </div>

    <div class="event-right">
        <div class="profile-wrap">
            <h3>Contact Details
            </h3>
            <dl>
                <dt>Primary number
                </dt>
                <dd>--
                </dd>
            </dl>
        </div>

        <div class="profile-wrap">
            <h3>Setting
            </h3>
            <dl>
                <dt>Currency
                </dt>
                <dd>PTH
                </dd>

                <dt>Odds Format
                </dt>
                <dd>--</dd>
            </dl>
        </div>

        <div class="profile-wrap">
            <h3>Commission
            </h3>
            <dl>
                <dt>Comm charged
                </dt>
                <dd>2.0 %
                </dd>
            </dl>
        </div>
    </div>
</div>