<div class="col-center report">
    <div class="path-wrap"><h2 [align]="'center'" style="width: 100%;">Activity Log</h2></div>
    <table class="table01">
        <tbody>
            <tr>
                <th width="15%" class="align-L">Login Date &amp; Time
                </th>
                <th width="10%" class="align-L">Login Status
                </th>
                <th width="12%">IP Address</th>
                <th width="20%">ISP</th>
                <th width="15%">City/State/Country</th>
                <th width="15%">User Agent Type</th>
            </tr>
        </tbody>
        <tbody>
            <ng-container *ngIf="activityLog">
                <tr *ngFor="let activeLog of activityLog">
                    <td class="align-L">{{activeLog.loginDate | date:'medium'}}</td>
                    <td class="align-L green">Login Success</td>
                    <td>{{activeLog.ipAddress}}</td>
                    <td>{{activeLog.isp}}</td>
                    <td>{{activeLog.address}}</td>
                    <td>Browser</td>
                </tr>
                <tr *ngIf="activityLog.length === 0">
                    <td colspan="6">No record found.</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>