<div class="col-left">
    <div class="sub_path">
        <div class="path">
            <a href="#path-pop" class="path-back">...</a>
            <ul>
                <li class="path-last"><a href="#">My Account</a></li>
            </ul>
        </div>
        <ul class="menu-list">
            <li><a [routerLink]="['/account/my-profile']" routerLinkActive="select">My Profile</a></li>
            <li><a [routerLink]="['/account/summary']" routerLinkActive="select">Balance Overview</a></li>
            <li><a [routerLink]="['/account/account-statement']" routerLinkActive="select">Account Statement</a></li>
            <li><a [routerLink]="['/account/current-bets']" routerLinkActive="select">My Bets</a></li>
            <li><a [routerLink]="['/account/activity-log']" routerLinkActive="select">Activity Log</a></li>
        </ul>
    </div>
</div>