@{
    ViewData["Title"] = "ManageSeries";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/js/DataTable/datatables.bundle.css" rel="stylesheet" type="text/css" />

<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <h3 class="card-label">
                @*Paginations
                    <span class="d-block text-muted pt-2 font-size-sm">extended pagination options</span>*@
            </h3>
        </div>
        <div class="card-toolbar">
            <div class="dropdown dropdown-inline mr-2">
                <label>Sport Name</label>
                <select id="sportName" name="sportName" class="form-control" onchange="chnageTextBySelectedValue();">
                    <option value="0">Select Sport Name</option>
                    <option value="1" selected="selected">Cricket</option>
                    <option value="2">Tennis</option>
                    <option value="3">Soccer</option>
                </select>
            </div>
            <div class="dropdown dropdown-inline mr-2">
                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Export
                </button>
                <!--begin::Dropdown Menu-->
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Navigation-->
                    <ul class="navi flex-column navi-hover py-2">
                        <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-print"></i>
                                </span>
                                <span class="navi-text">Print</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-copy"></i>
                                </span>
                                <span class="navi-text">Copy</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-file-excel-o"></i>
                                </span>
                                <span class="navi-text">Excel</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-file-text-o"></i>
                                </span>
                                <span class="navi-text">CSV</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-file-pdf-o"></i>
                                </span>
                                <span class="navi-text">PDF</span>
                            </a>
                        </li>
                    </ul>
                    <!--end::Navigation-->
                </div>
                <!--end::Dropdown Menu-->
            </div>
           
        </div>
    </div>
    <h3 id="selectSportName" style="margin-left:30px;text-decoration:underline;">Cricket</h3>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-striped table-hover table-bordered table-head-custom" id="kt_datatable">
            <thead style="background-color: #1e1e2d;">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        S. NO.
                    </th>
                    <th>
                        SERIES ID
                    </th>
                    <th>
                        SERIES NAME
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @*@if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {*@
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>10654342</td>
                    <td>The Ashes (Series Markets)</td>
                    <td>
                        <a href="javascript:;">
                            <input type="checkbox" checked="checked" id="check_1" onchange="HideShowPlusIcon();" />
                            &nbsp;
                            <img src="~/assets/adminImg/plusicon.png" style="height:22px;width:22px;" id="plusiconid_1" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>11893330</td>
                    <td>T20 Blast</td>
                    <td>
                        <a href="javascript:;">
                            <input type="checkbox" checked="checked" />
                            &nbsp;
                            <img src="~/assets/adminImg/plusicon.png" style="height:22px;width:22px;" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>9991613</td>
                    <td>Country Championship Div 2</td>
                    <td>
                        <a href="javascript:;">
                            <input type="checkbox" />
                            @*&nbsp;
                                <img src="~/assets/adminImg/plusicon.png" style="height:25px;width:25px;" />*@
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>4</td>
                    <td>11678489</td>
                    <td>ICC World Twenty20</td>
                    <td>
                        <a href="javascript:;">
                            <input type="checkbox" checked="checked" />
                            &nbsp;
                            <img src="~/assets/adminImg/plusicon.png" style="height:22px;width:22px;" />
                        </a>
                    </td>
                </tr>
                @*}
                    }*@
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" id="matchNameModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Match List</h4>
                <button type="button" class="close hideModel" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="view-rolling row">
                        <table class="table table-striped table-hover table-bordered table-head-custom" id="kt_datatable">
                            <thead style="background-color: #1e1e2d;">
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        S. NO.
                                    </th>
                                    <th>
                                        MATCH ID
                                    </th>
                                    <th>
                                        MATCH NAME
                                    </th>
                                    <th>
                                        OPEN DATE
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {*@
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>29437178</td>
                                    <td>West Indies Vs India(2nd Test)</td>
                                    <td>Aug 30, 2019, 8:00:00 PM</td>
                                    <td>
                                        <a href="javascript:;">
                                            <input type="checkbox" checked="checked" id="matchListCheck_1" onchange="HideShowFireIcon();" />
                                            <img src="~/assets/adminImg/fireicon.png" style="width:30px;" id="fireiconid_1" onclick="ShowMatchSettingTable();" />
                                        </a>
                                    </td>
                                </tr>
                                <tr style="text-align:center;background-color:Highlight;font-weight:800;display:none;" id="matchSettingTable_1">
                                    <th>

                                    </th>
                                    <th>
                                        <a href="#" style="color:black;">Session Fancy</a>
                                    </th>
                                    <th colspan="3">
                                        <a href="#" style="color:black;">Indian Fancy</a>
                                    </th>
                                    <th>
                                        <a href="#" style="color:black;">Betfair Market</a>
                                    </th>

                                </tr>
                                @*}
                                    }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" id="btnHideModal" class="btn btn-danger hideModel">
                        Close
                    </button>
                </div>*@
        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/DataTable/datatables.bundle.js"></script>
    <script src="~/js/DataTable/paginations.min.js"></script>
    <script type="text/javascript">
        function chnageTextBySelectedValue() {
            //var selectedValue = $("#sportName").val();
            var selectedText = $("#sportName option:selected").text();
            document.getElementById("selectSportName").innerHTML = selectedText;
        }

        function HideShowPlusIcon() {
            var x = document.getElementById("check_1").checked;
            if (x == false) {
                $("#plusiconid_1").hide();
            }
            else {
                $("#plusiconid_1").show();
            }
        }

        function HideShowFireIcon() {
            var x = document.getElementById("matchListCheck_1").checked;
            if (x == false) {
                $("#fireiconid_1").hide();
            }
            else {
                $("#fireiconid_1").show();
            }
        }

        function ShowMatchSettingTable() {
            $("#matchSettingTable_1").show();
        }

        $(document).ready(function () {
            $("#plusiconid_1").click(function () {
                $("#matchNameModal").modal('show');
            });

            $(".hideModel").click(function () {
                $("#matchNameModal").modal('hide');
            });
        });
    </script>
}
