<div class="col-center">
    <app-news></app-news>
    <div class="over-wrap" >
        <div class="promo-banner-wrap">
            <app-slider></app-slider>
        </div>

        <div class="game-highlight-wrap col3">
            <h3>Sports Highlights
                <!-- <div class="highlight-sorting">
                    <label for="lang">View by</label>
                    <div class="select">
                        <select>
                            <option value="competitionName">Competition</option>
                            <option value="openDateTime" selected="">Time</option>
                            <option value="totalMatched">Matched</option>
                        </select>
                    </div>
                </div> -->
            </h3>
            <app-table-row [tableRowList]="eventList" [multiMarketPin]="true"></app-table-row>
        </div>
    </div>
</div>