<div class="highlight-fix">
    <div class="wrap-highlight">
        <perfect-scrollbar class="scroll-container" [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}">
        <ul>
            <li *ngFor="let sidebar of sidebarList" [ngClass]="{'select':sidebar.id==activatedId}">
                <span i class="tag-live"><strong></strong>4</span>
                <a [routerLink]="['/allsport-highlight',sidebar.id]" title="Cricket"><img class="icon-{{sidebar.sportName.toLowerCase()}}"
                        src="assets/images/mobile/transparent.gif">{{sidebar.sportName}}
                </a>
            </li>
        </ul>
    </perfect-scrollbar>
    </div>
</div>
<div class="wrap-highlight_list">
    <h3>Highlights</h3>
    <app-sports-data [tableRowList]="eventList" [multiMarketPin]="true"></app-sports-data>
</div>