<li class="main-wallet">
    <a href="#" class="a-wallet ui-link">
        <ul>
            <li><span>Main</span><span>PBU {{openingBalance}}</span></li>
            <li><span>Exposure</span><span style="background-color: red;display: inline-block;padding: 1px 2px;margin-left: 3px;">({{exposureBalance}})</span></li>
            <li class="nums">+<span>5</span></li>
        </ul>
        <p class="loading-bar" style="display: none;">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </p>
    </a>
    <a class="a-refresh ui-link" (click)="refreshBalance()" title="Refresh Main Wallet"><img
            src="assets/images/mobile/transparent.gif"></a>
</li>