@using Veelki.Data.Entities
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";   
}

<style>
    table th, table td {
        border-top: none;
        padding: 3px 0 3px 10px;
        vertical-align: middle;
    }

    table tr {
        border-bottom: 1px solid #e0e6e6;
    }

    .count {
        width: 110px;
        text-align: center;
    }

    .back {
        background: #72bbef;
        color: #1e1e1e;
        padding: 2px 10px;
        font-weight: 700;
    }

    .count span {
        min-width: 50px;
        display: inline-flex;
    }

    .back, .lay {
        font-size: 11px;
    }

    .lay {
        background: #faa9ba;
        color: #1e1e1e;
        padding: 2px 10px;
        font-weight: 700;
    }
</style>

<div class="container">
    <h2>Welcome you are login as a @ViewBag.LoginUser.FullName.</h2>

    @*<table>
        <thead>
            <tr>
                <th></th>
                <th>1</th>
                <th>X</th>
                <th>2</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="Cricket">
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
        </tbody>
        <tbody id="Soccer" style="display:none">
            <tr>
                <td>
                    <label>Soccer v Soccer</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
        </tbody>
        <tbody id="Tennis" style="display:none">
            <tr>
                <td>
                    <label>Tennis v Tennis</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
        </tbody>
        <tbody id="Casino" style="display:none">
            <tr>
                <td>
                    <label>Casino v Casino</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>England v India</label>
                    <select>
                        <option>Select category</option>
                        <option>Test match</option>
                        <option>IPL</option>
                        <option>T20</option>
                        <option>One day</option>
                    </select>
                </td>
                <td>
                    <div class="count">
                        <span class="back">5.2</span>
                        <span class="lay">5.8</span>
                    </div>
                </td>
                <td>
                    <div class="count">
                        <span class="back">3.55</span>
                        <span class="lay">3.7</span>
                    </div>
                </td>
                <td>
                    <div class="">
                        <span class="back">4</span>
                        <span class="lay">4.3</span>
                    </div>
                </td>
                <td>
                    <button>Save</button>
                </td>
            </tr>
        </tbody>
    </table>*@
</div>

@section PageJs{
    <script>
        $(function () {
            $("#SportMenu li a").click(function () {
                var id = $(this).attr("data-id");
                $("tbody").hide();
                $("#" + id).show();
            });
        });
    </script>
}