<div class="gamehall">
    <a routerLink="/inplay" title="InPlay Banner">
        <img src="assets/images/mobile/gamehall/banner_sports.png">
    </a>
    <a routerLink="/inplay" class="entrance">
        <img src="assets/images/mobile/gamehall/banner_skyexchangeBlog.png">
    </a>
    <a routerLink="/inplay" class="entrance" style="cursor: pointer" title="BetRadar Banner">
        <dl class="entrance-title">
            <dt>Virtual Cricket</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_virtualsports.png">
    </a>
    <a routerLink="/inplay" class="entrance" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Royal Gaming</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_royalgaming.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="AEIndia Banner">
        <dl class="entrance-title">
            <dt>AE India</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_AEIndia-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="Casino Banner">
        <dl class="entrance-title">
            <dt>Live Casino</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_casino-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="Blackjack Banner">
        <dl class="entrance-title">
            <dt>Blackjack</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_blackjack-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>7 Up Down</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_7up7down-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Andar Bahar VR</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_andarBaharVR-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="Supernowa Banner">
        <dl class="entrance-title">
            <dt>Supernowa</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_supernowa-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="7Mojos Banner">
        <dl class="entrance-title">
            <dt>7mojos</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_7mojos-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="HORSEBOOK Banner">
        <dl class="entrance-title">
            <dt>HORSEBOOK</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_horsebook-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="Minesweeper Banner">
        <dl class="entrance-title">
            <dt>Minesweeper</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_minesweeper-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="MT5 Banner">
        <dl class="entrance-title">
            <dt>Sky Trader</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_skytrader-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Teen Patti</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_teenPatti-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Super Over VR</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_superOverVR-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>TeenPatti 20-20</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_TeenPatti2020-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>NumberKing</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_NumberKing-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Big small</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_BigSmall-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="32Cards Banner">
        <dl class="entrance-title">
            <dt>TeenPatti Joker</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_TeenPattiJoker-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="32Cards Banner">
        <dl class="entrance-title">
            <dt>7up7down</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_7up7down-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Dragon &amp; Tiger</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_DragonNTiger-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Auto Roulette</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_autoRoulette-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Dus Ka Dum (Cards) VR</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_DusKaDumVR-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Callbreak Quick</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_CallbreakQuick-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Sic Bo</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_SicBo-Jili-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Baccarat</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_Baccarat-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Bonus Dice</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_BonusDice-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Heist</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_Heist-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>5 Card Poker</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_5CardPoker-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer">
        <dl class="entrance-title">
            <dt>Color Game</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_ColorGame-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="32Cards Banner">
        <dl class="entrance-title">
            <dt>32 Cards</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_32card-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="Rummy Banner">
        <dl class="entrance-title">
            <dt>Rummy</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_rummy-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Dragon Tiger</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_dragonTiger-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="ROYAL Banner">
        <dl class="entrance-title">
            <dt>Worli Matka VR</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/royalgaming/banner_worliMatkaVR-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="BetGames Banner">
        <dl class="entrance-title">
            <dt>BetGames</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_betgames-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="AndarBahar Banner">
        <dl class="entrance-title">
            <dt>Andar Bahar</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_andarBahar-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="Sicbo Banner">
        <dl class="entrance-title">
            <dt>Sicbo</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_sicbo-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="7Up7Down Banner">
        <dl class="entrance-title">
            <dt>7 UP 7 Down</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_sevenUpDown-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="CoinToss Banner">
        <dl class="entrance-title">
            <dt>Coin Toss</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_CoinToss-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="TeenPatti Banner">
        <dl class="entrance-title">
            <dt>Teen Patti</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_teenPatti-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="KingMaker Banner">
        <dl class="entrance-title">
            <dt>Card Matka</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_cardMatka-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" style="cursor: pointer" title="KingMaker Banner">
        <dl class="entrance-title">
            <dt>Number Matka</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_numberMatka-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" title="Binary Banner">
        <dl class="entrance-title">
            <dt>Binary</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_binary-half.png">
    </a>
    <a routerLink="/inplay" class="entrance-half" title="Bpoker Banner">
        <dl class="entrance-title">
            <dt>Bpoker</dt>
            <dd>Play Now</dd>
        </dl>
        <img src="assets/images/mobile/gamehall/banner_bpoker-half.png">
    </a>
</div>