
@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_wrap">
    <!-- agent path -->


    <div class="agent_path">
        <ul id="agentPath" class="agent_path-L">

            <li id="path6" class="" style="display: none;">
                <a href="javascript: void(0);">
                    <span class="lv_0">
                        COM
                    </span>
                    <strong></strong>
                </a>
            </li>

            <li id="path5" class="" style="display: none;">
                <a href="javascript: void(0);">
                    <span class="lv_1">
                        SS
                    </span>
                    <strong></strong>
                </a>
            </li>

            <li id="path4" class="" style="display: none;">
                <a href="javascript: void(0);">
                    <span class="lv_2">
                        SUP
                    </span>
                    <strong></strong>
                </a>
            </li>

            <li id="path3" class="last_li">
                <a href="javascript: void(0);">
                    <span class="lv_3">
                        MA
                    </span>
                    <strong>sskydemo0</strong>
                </a>
            </li>

            <li id="path0" class="" style="display: none;">
                <a href="javascript: void(0);">
                    <span class="lv_4">
                        PL
                    </span>
                    <strong></strong>
                </a>
            </li>

            <ul class="account_pop" id="accountPop">
                <li id="popTmp" style="display: none;">
                    <a href=""></a>
                </li>
            </ul>
        </ul>
    </div>

    <!-- Agent Left Column -->

    <div class="col-left">

        <!-- Sub Menu and Path -->
        <div class="sub_path">

            <!-- Sub Menu -->
            <ul class="menu-list">

                <li class="class">
                    Position
                </li>


                <li>
                    <a id="accountStatement" href="acount-deatil.html">
                        Account Statement
                    </a>
                </li>


                <li>
                    <a id="accountSummary" href="#" class="select">
                        Account Summary
                    </a>
                </li>



                <li class="class">
                    Account Details
                </li>
                <li>
                    <a id="profile" href="profile.html">
                        Profile
                    </a>
                </li>
                <li>
                    <a id="activityLog" href="active-log.html">
                        Activity Log
                    </a>
                </li>


            </ul>
        </div>
    </div>




    <!-- Loading Wrap -->
    <div id="loading" class="loading-wrap" style="display:none">
        <ul class="loading">
            <li><img src="https://statics3.skyexch.bike/images/loading40.gif"></li>
            <li>
                Loading...
            </li>
            <br>
            <li><span id="progress"></span></li>
        </ul>
    </div>

    <!-- Message -->
    <div id="message" class="message-wrap success">
        <a class="btn-close">Close</a>
        <p></p>
    </div>

    <!-- Center Column -->
    <div class="col-center report">

        <h2>
            Account Summary
        </h2>

        <div class="white-wrap">
            <dl class="head-balance">
                <dt>
                    Your Balances
                </dt>
                <dd id="yourBalance">0.00 <span>PTH</span></dd>
            </dl>




        </div>
    </div>
</div>