<div class="col-center report">
    <div class="path-wrap"><h2 [align]="'center'" style="width: 100%;">Account Statement</h2></div>
    <table class="table01">
        <tbody>
            <tr>
                <th width="15%" class="align-L">Date/Time</th>
                <th width="18%">Deposit</th>
                <th width="18%">Withdraw</th>
                <th width="18%">Balance</th>
                <th width="16%">Remark</th>
                <th width="">From/To</th>
            </tr>
        </tbody>
        <tbody>
            <ng-container *ngIf="accountStatementList">
                <tr *ngFor="let accountStatement of accountStatementList">
                    <td>{{accountStatement.createdDate | date:'medium'}}</td>
                    <td>{{accountStatement.deposit}}</td>
                    <td>{{accountStatement.withdraw}}</td>
                    <td>{{accountStatement.balance}}</td>
                    <td>{{accountStatement.remark}}</td>
                    <td>{{accountStatement.fromUser}} to {{accountStatement.toUser}}</td>
                </tr>
                <tr *ngIf="accountStatementList.length === 0">
                    <td colspan="6" class="text-center">No record found.</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>