<div class="animated fadeIn">
    <ng-template class="row" #martketError>
        <div class="col-md-12 multimarket p-0">
            <div class="mian-wrap">
                <div class="no-data" id="noMultiMarkets">
                    <h3>There are currently no followed multi markets.</h3>
                    <p>Please add some markets from events.</p>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="mobile-display-view" *ngIf="multiMarketData.length > 0; else martketError">
        <div class="game-highlight-wrap">
            <div class="tab-content">
                <div class="game-menu-tab hidden-xs homeevent tab-container">
                    <div class="row">
                        <div class="col-md-12 mobile-width" *ngIf="multiMarketData">
                            <table class="table table-hover">
                                <app-table-row [tableRowList]="multiMarketData" [multiMarketPin]="false" class="d-table w-100">
                                </app-table-row>
                                <tbody *ngIf="multiMarketData.length === 0">
                                    <tr>
                                        <td colspan="6">There are no events to be displayed.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>