<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 match-list">
            <div class="market-type show-xs" id="naviMarket">
                <ul id="naviMarketList">
                    <li class="select all" id="naviMarket_1_172614581" style="display: list-item;">
                        <a>All</a>
                    </li>
                    <li id="naviMarket_1_172614581" style="display: list-item;"><a>Match Odds</a></li>
                    <li id="naviMarket_1_172614581" style="display: list-item;"><a>Bookmaker</a></li>
                </ul>
            </div>
            <ng-container *ngIf="matchOddsData && matchOddsData.length > 0">
                <app-match-odds [matchOddsData]="matchOddsData" [isUserLogin]="isUserLogin" [inPlay]="inPlay" [sportId]="sportId" [marketId]="marketId"></app-match-odds>
            </ng-container>
            <ng-container *ngIf="bookmakerData && bookmakerData.length > 0">
                <app-bookmaker [bookmakerData]="bookmakerData"></app-bookmaker>
            </ng-container>
            <ng-container *ngIf="fancyBetData && bookmakerData.length > 0">
                <app-fancy-bet [fancyBetData]="fancyBetData"></app-fancy-bet>
            </ng-container>
        </div>
    </div>
</div>